<ion-view view-title="{{ 'tab.more' | translate }}">
    <ion-content>
        <ion-list>
            <div>
                <tatami-user user="vm.currentUser"></tatami-user>
            </div>
            <ion-item class="item-divider"></ion-item>
            <ion-item ng-click="vm.goToCompanyTimeline()" class="text-center">
                <span class="ion-briefcase calm"></span>&nbsp;
                <span class="calm" translate="more.company">Company Timeline</span>
            </ion-item>
            <ion-item class="item-divider"></ion-item>
            <ion-item ng-click="vm.goToSettings()" class="text-center">
                <span class="ion-settings"></span>&nbsp;
                <span translate="more.settings">Settings</span>
            </ion-item>
            <ion-item class="item-divider"></ion-item>
            <ion-item class="text-center" ng-click="vm.goToBlockedUsers()">
                <span class="ion-sad"></span>
                <span translate="more.blockedusers.manage">Manage your blocked users</span>
            </ion-item>
            <ion-item class="item-divider"></ion-item>
            <ion-item ng-click="vm.logout()" class="text-center">
                <span class="ion-power assertive"></span>&nbsp;
                <span class="assertive" translate="more.logout">Logout</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
