<ion-view>
    <ion-content>
        <ion-list>
            <ion-item ng-click="vm.goToCompanyTimeline()" class="text-center">
                <span class="ion-briefcase calm"></span>&nbsp;
                <span class="calm">Company Timeline</span>
            </ion-item>
            <ion-item class="item-divider"></ion-item>
            <ion-item ng-click="vm.logout()" class="text-center">
                <span class="ion-power assertive"></span>&nbsp;
                <span class="assertive">Logout</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
