<div>
    <ul class="homebody-nav nav nav-justified">
        <li class="active">
            <a href="#/home/timeline">
            <i class="glyphicon glyphicon-th-list"></i>
            <span translate="tatami.home.timeline"></span>
            </a>
        </li>
        <li>
            <a href="#/home/mentions">
            <i class="glyphicon glyphicon-user"></i>
            <span translate="tatami.home.mentions"></span>
            </a>
        </li>
        <li>
            <a href="#/home/favorites">
            <i class="glyphicon glyphicon-star"></i>
            <span translate="tatami.home.favorites"></span>
            </a>
        </li>
    </ul>
    <section class="tatams-content tatams-margin">
        <div class="tatams-content-title">
            <h3>
                <!-- Need to change title based on current tab; Routing? -->
                <!-- Need to make tab class="active" if current tab -->
                <span translate="tatami.home.timeline"></span>
            </h3>
        </div>
        <section class="tatams-container">
            <div ng-cloak>
                <section class="timeline" ng-controller="HomeController">
                    <div class="tatams" ng-repeat="status in statuses">
                        <!-- Put discussion class if discussion ? -->
                        <div class="tatam pointer tatam-border-lr tatam-hover tatam-id-{{ status.statusId }}" style="display: block;">
                            <!--<div id="before"></div>-->
                            <div id="current" ng-mouseenter="showButtonRow = true" ng-mouseleave="showButtonRow = false" ng-class="{ 'favorite': status.favorite, 'share': status.shareByMe, 'both': status.favorite && status.shareByMe }">
                                <div class="pull-left background-image-fffix statusitem-img">
                                    <div class="img img-rounded img-medium" ng-style="{ 'background-image': 'url(' + status.avatarURL + ')' }"></div>
                                </div>
                                <div id="status-content-container">
                                    <div class="pull-right text-right" ng-cloak>
                                        <abbr title="{{ status.statusDate | amDateFormat:'h:mm A - D MMM YYYY'}}" am-time-ago="status.statusDate"></abbr>
                                        <!-- Make status abbr month and day display after 24h have passed? -->
                                    </div>

                                    <h5 class="statusitem-name" ng-cloak>
                                        <strong><a href="#/home/profile/{{ status.username }}">{{ status.firstName + ' ' + status.lastName }}</a></strong>
                                        <small><a href="#/home/profile/{{ status.username }}">@{{ status.username }}</a></small>
                                    </h5>
                                    
                                    <div class="markdown" ng-bind-html="status.content | markdown"></div>

                                    <small ng-if="status.groupId">
                                        <a class="label" ng-class="status.publicGroup ? 'label-info' : 'label-warning'" ng-href="#groups/{{ status.groupId }}">
                                        {{ status.groupName }}
                                        </a>
                                        <br>
                                    </small>

                                    <small ng-if="status.statusPrivate">
                                        <span class="glyphicon glyphicon-lock"></span>
                                        <span translate="tatami.home.status.private"></span>
                                        <br>
                                    </small>

                                    <small ng-if="status.replyTo">
                                        <span class="glyphicon glyphicon-share-alt"></span>
                                        <span translate="tatami.home.status.replyTo"></span>
                                        <a ng-href="#status/{{ status.replyTo }}">@{{ status.replyToUsername }}</a>
                                        <br>
                                    </small>

                                    <small>
                                        <div class="attachments">
                                            <div>
                                                <span ng-repeat="attachment in status.attachments">
                                                <a href="/tatami/file/{{ attachment.attachmentId }}/{{ attachment.filename }}" class="btn-link status-action" target="_blank">
                                                <i class="glyphicon glyphicon-file"></i> {{ attachment.filename }}
                                                </a>
                                                </span>
                                            </div>
                                        </div>
                                        <div id="share">
                                        </div>
                                    </small>
                                </div>

                                <div id="geolocalizationInStatus"></div>

                                <div id="preview"></div>

                                <div ng-style="{ visibility : showButtonRow ? 'visible' : 'hidden' }" style="display: block;" id="buttons" class="mediumHeight little-marge-top">
                                    <div>
                                        <small class="statusitem-footer"> 
                                        <a href="#status/{{ status.statusId }}" class="btn-link status-action button-ios">
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                            <span translate="tatami.home.status.view"></span>
                                        </a>
                                        <button ng-controller="StatusManagerController" ng-click="showModal(status.statusId)" class="btn-link status-action status-action-reply button-ios">
                                            <i class="glyphicon glyphicon-comment"></i>
                                            <span translate="tatami.home.status.reply"></span>
                                        </button>
                                        <button ng-if="status.username != profile.username && !status.shareByMe && !status.statusPrivate" ng-click="shareStatus(status)" class="btn-link status-action status-action-share button-ios">
                                            <i class="glyphicon glyphicon-retweet"></i>
                                            <span translate="tatami.home.status.share"></span>
                                        </button>
                                        <button ng-click="favoriteStatus(status)" class="btn-link status-action status-action-favorite button-ios">
                                            <i class="glyphicon glyphicon-star"></i>
                                            <span translate="tatami.home.status.favorite"></span>
                                        </button>
                                        <button ng-if="status.username == profile.username" ng-click="deleteStatus(status, ('tatami.status.confirmDelete' | translate))" class="btn-link status-action status-action-delete button-ios">
                                            <i class="glyphicon glyphicon-trash"></i>
                                            <span translate="tatami.home.status.delete"></span>
                                        </button>
                                        </small> 
                                    </div>
                                </div>
                            </div>
                            <!--<div id="after"></div>-->
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </section>
</div>