<ion-view view-title="{{ 'more.reportedStatus.title' | translate }}">
    <ion-content>
        <ion-list ng-init="vm.getReportedStatuses()">
            <ion-item ng-if="vm.hasReportedStatus()" ng-repeat="status in vm.reportedStatuses" >

                <tatami-status status = "status" current-user = "vm.currentUser" on-delete = "vm.remove(status)"></tatami-status>
                <div class="row">
                    <div class="col-25 button button-clear ion-checkmark-round" ng-click="vm.approveStatus(status.statusId)"></div>
                    <div class="col-25 button button-clear ion-close-round" ng-click="vm.deleteStatus(status.statusId)"></div>
                </div>
            </ion-item>
            <ion-item ng-if="!vm.hasReportedStatus()" translate="more.reportedStatus.no">No blocked users</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
