<div class="col-span-8">
    <div class="alert alert-status">
        <div>
            <form class="form-horizontal row-fluid">
                <h2 translate="account.password.title"></h2>
                <fieldset>
                    <legend translate="account.password.update"></legend>
                    <div class="control-group">
                        <label class="control-label" translate="account.password.old"></label>
                        <div class="controls">
                            <input type="password" required="required" size="15" maxlength="40" class="input-xlarge col-span-12" ng-model="password.oldPassword">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" translate="account.password.new"></label>
                        <div class="controls">
                            <input type="password" required="required" ize="15" maxlength="40" class="input-xlarge col-span-12" ng-model="password.newPassword">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" translate="account.password.confirm"></label>
                        <div class="controls">
                            <input type="password" required="required" size="15" maxlength="40" class="input-xlarge col-span-12" ng-model="password.newPasswordConfirmation">
                        </div>
                    </div>
                    <div>
                        <label translate="account.password.warning" style="color: red"></label>
                    </div>
                    <div class="return"></div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary btn-block" translate="account.form.save" ng-click="changePassword()"></button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
