data
.idea
*.iml
tatami.iml
tatami.ipr
tatami.iws
.classpath
.project
.settings
target
web/node_modules/
src/main/webapp/WEB-INF/generated-wro4j
.merge_file*
.DS_Store
phantomjsdriver.log
*.log
web/src/main/webapp/app/**/*.CONCAT.js
web/src/main/webapp/app/**/*.min.html
web/src/main/webapp/app/**/*.min.js
web/src/main/webapp/app/**/*.MIN.css
web/src/main/webapp/app/**/*.min.css
web/src/main/webapp/css/tatami.min.css
