<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.reported.title}">Reported Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.reported.greeting}">
    Dear admin
</p>

<p th:text="#{email.reported.text1(${reportingUser.username})}">
    has reported a status as inappropriate or offensive
</p>
<p th:text="#{email.reported.text2}">
    Please click the link below to reset it
</p>
<p>
    <a th:href="@{|${statusUrl}|}"></a>
</p>
<p>
    <span th:text="#{email.reset.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">JHipster</em>
</p>
</body>
</html>
