<ion-view name="login-view" view-title="{{ 'login.title' | translate }}">
    <ion-content class="has-header has-subheader">
        <form ng-submit="vm.login()">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="{{ 'login.email' | translate }}" ng-model="vm.user.email">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="{{ 'login.password' | translate }}" ng-model="vm.user.password">
                </label>
            </div>

            <div class="padding">
                <button ng-disabled="!vm.user.email && !vm.user.password"
                        translate="login.title"
                        class="button button-block button-calm"
                        type="submit">Login
                </button>
            </div>
            <div class="padding">
                <button ng-click="vm.googleLogin()"
                        translate="login.google"
                        class="button button-block button-stable"
                        type="button">
                    Google Login
                </button>
            </div>

            <div ng-if="vm.shown" class="bar bar-positive">
                <h1 class="title" translate="login.success">Logged In!</h1>
            </div>
            <div ng-if="vm.failed" class="bar bar-assertive">
                <h1 class="title" translate="login.failed">Failed to log in!</h1>
            </div>
        </form>
    </ion-content>
</ion-view>
