<ion-popover-view>
    <ion-content>
        <div class="list" ng-click="popover.hide()">
            <a class="button button-clear ion-share tatami-button" ng-click="vm.shareStatus()" ng-class="{ 'button-royal': vm.status.shareByMe }">
                Share Status
            </a>
            <a class="item" target="_blank" translate="status.block.reportStatus">
                Report Post
            </a>
            <a class="item" target="_blank" translate="status.block.reportUser">
                Report User
            </a>
            <a class="item" target="_blank" translate="status.block.blockUser">
                Hide User from Timeline
            </a>

            <a class="button button-clear ion-trash-a tatami-button"
               ng-if="vm.isCurrentUser = 'ADMIN'" ng-click="vm.remove()">
                Delete
            </a>
        </div>
    </ion-content>
</ion-popover-view>
