<ion-popover-view>
    <ion-content>
        <div class="list" ng-click="popover.hide()">
            <a class="item ion-share" ng-click="vm.shareStatus()" ng-class="{ 'button-royal': vm.status.shareByMe }">
                Share Status
            </a>
            <a class="item" target="_blank" translate="status.block.reportStatus" ng-click="vm.reportStatus()">
                Report Post
            </a>
            <a class="item" target="_blank" translate="status.block.reportUser">
                Report User
            </a>
            <a class="item" target="_blank" translate="status.block.blockUser" ng-click="vm.blockUser()">
                Hide User from Timeline
            </a>

            <a class="item ion-trash-a assertive"
               ng-if="vm.currentUser = 'ADMIN'" ng-click="vm.remove()" translate="status.block.delete">
                Delete
            </a>
        </div>
    </ion-content>
</ion-popover-view>
