<ion-popover-view ng-style="vm.customHeight">
    <ion-content>
        <div class="list" ng-click="popover.hide()">
            <a class="item"  ng-if="vm.currentUser.isAdmin" ng-click="vm.announceStatus()" >
                <span class="ion-speakerphone padding-right"></span>
                <span class="right" translate="status.announcement.action"></span>
            </a>
            <a class="item" target="_blank" ng-click="vm.hideStatus()">
                <span class="ion-minus-round padding-right"></span>
                <span translate="status.hide.action" right></span>
            </a>
            <a class="item" target="_blank" ng-click="vm.reportStatus()">
                <span class="ion-alert padding-right"></span>
                <span class="html-editor-align-right" translate="status.block.reportStatus"></span>
            </a>
            <a class="item" target="_blank" ng-click="vm.blockUser()">
                <span class="ion-close-circled padding-right"></span>
                <span translate="status.block.blockUser"></span>
            </a>
            <a class="item assertive" ng-if="vm.currentUser.isAdmin" ng-click="vm.remove()" >
                <span class="ion-trash-a padding-right"></span>
                <span translate="status.block.delete"></span>
            </a>
        </div>
    </ion-content>
</ion-popover-view>
