<div>
    <ul class="homebody-nav nav nav-justified">
        <li ui-sref-active="active">
            <a ui-sref="groupStatus">
                <span class="glyphicon glyphicon-th-list"></span>
                <span translate="home.group.statuses"></span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="members">
                <span class="glyphicon glyphicon-user"></span>
                <span translate="home.group.members"></span>
            </a>
        </li>
    </ul>
    <section class="tatams-content tatams-margin">
        <div class="tatams-content-title">
            <h3
            <strong>{{ group.name }}: </strong>
                <span ng-if="currentState == 'groupStatus'">
                    <strong ng-if="group.description">{{ group.description }}</strong>
                    <strong ng-if="!group.description" translate="home.group.statuses"></strong>
                </span>
                <span ng-if="currentState == 'members'">
                    <strong ng-if="group.counter == 1" translate="home.group.membersSingular"></strong>
                    <strong ng-if="group.counter > 1" translate="home.group.membersPlural"
                            translate-values="{ amount: group.counter }"></strong>
                </span>
                <span ng-if="group.administrator">
                    <button ui-sref="tatami.account.groups.manage({ groupId: group.groupId })"
                            class="pull-right btn btn-sm btn-primary hidden-phone" type="button">
                        <span class="glyphicon glyphicon-th-large"></span>
                        <span translate="tatami.home.group.manage"></span>
                    </button>
                </span>
                <span ng-if="!group.administrator">
                    <button type="button" ng-click="joinLeaveGroup()" ng-init="hover = false"
                            ng-mouseenter="hover = true" ng-mouseleave="hover = false" class="btn btn-sm pull-right"
                            ng-class="{ 'btn-danger': group.member && hover, 'btn-info': group.member && !hover }">
                        <span class="glyphicon" ng-class="group.member ? 'glyphicon-minus' : 'glyphicon-plus'">
                            <span ng-if="!group.member" class="hidden-phone" translate="tatami.home.group.join"></span>
                            <span ng-if="group.member && !hover" class="hidden-phone"
                                  translate="tatami.home.group.joined"></span>
                            <span ng-if="group.member && hover" class="hidden-phone"
                                  translate="tatami.home.group.leave"></span>
                        </span>
                    </button>
                </span>


            <!--<strong ng-if="currentState == 'groupStatus'" >{{getHeaderTitle()}}</strong>-->
            <!--&lt;!&ndash;<strong ng-if="currentState == 'members'" translate="home.members"></strong>&ndash;&gt;-->
            <!--<strong ng-if="currentState == 'members'">{{getNumMembers}}</strong>-->
            </h3>
        </div>
    </section>
</div>
