<ng-include src="'/app/shared/topMenu/TopMenuView.html'"></ng-include>
<div id="mainPanel" class="container">
    <div class="row">
        <div class="col-offset-2 col-span-8">
            <h1 translate="tatami.login.validation"></h1>



            <p translate="tatami.login.passwordSuccess"></p>

        </div>
    </div>
    <div class="row">
        <div class="col-offset-4 col-span-2">
            <br>
            <br>
            <a ui-sref="tatami.login.main" translate="tatami.login.returnHome"></a>
        </div>
    </div>
</div>