<div>
    <ul class="homebody-nav nav nav-justified">
        <li ui-sref-active="active">
            <a ui-sref="home.tag">
            <i class="glyphicon glyphicon-tag"></i>
            <span translate="tatami.home.tag.title"></span>
            </a>
        </li>
    </ul>
    <section class="tatams-content tatams-margin">
        <div class="tatams-content-title">
            <h3>
                <strong ng-if="$state.current.name == 'home.tag'">#{{ $stateParams.tag }}</strong>
                <a class="btn-title toggleTag pull-right label" ng-class="{ 'label-info': tag.followed }">
                    <span class="glyphicon" ng-class="tag.followed ? 'glyphicon-minus' : 'glyphicon-plus'">
                        <span ng-if="!tag.followed" ng-click="followTag()" class="hidden-phone" translate="tatami.home.tag.follow"></span>
                        <span ng-if="tag.followed" ng-click="followTag()" class="hidden-phone" translate="tatami.home.tag.following"></span>
                    </span>
                </a>
            </h3>
        </div>
    </section>
</div>