<ion-header-bar align-title="center" class="bar-header bar-dark">
    <div class="buttons" ng-if="!vm.$state.includes('login') && !vm.$state.includes('follow')">
        <a ui-sref="suggested">
            <button class="button button-clear ion-android-person-add"></button>
        </a>
    </div>
    <div class="buttons" ng-if="vm.$state.includes('follow')">
        <a ui-sref="timeline">
            <button class="button button-clear ion-ios-list"></button>
        </a>
    </div>
    <div class="title">
        <span ui-sref="timeline">
            <img class="title-image" src="img/logo.png" />
        </span>
    </div>
    <div class="buttons" ng-if="!(vm.$state.includes('login') || vm.$state.includes('post'))">
        <a ui-sref="post">
            <button class="button button-clear ion-android-create"></button>
        </a>
    </div>
</ion-header-bar>

<ion-nav-bar align-title="center" class="bar-subheader bar-stable">
    <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>

<ion-nav-view></ion-nav-view>
