<ion-view view-title="{{ 'more.allUsers' | translate }}">
    <ion-content class="tatami-header tatami-footer" ng-style="{'background-color':'#f5f5f5'}">
        <ion-list ng-init="vm.getAllUsers()">
            <div ng-repeat="user in vm.users">
                <tatami-user user="user" current-user="vm.currentUser"></tatami-user>
            </div>
        </ion-list>
        <ion-infinite-scroll ng-if="!vm.isFinished" on-infinite="vm.getNextUsers()"></ion-infinite-scroll>
    </ion-content>
</ion-view>
