<div class="col-span-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title text-center" translate="tatami.login.register.title"></h4>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <p translate="tatami.login.register.line1"></p>
                    <p translate="tatami.login.register.line2"></p>
                    <p translate="tatami.login.register.line3"></p>
                </li>
            </ul>
            <form ng-submit="registerUser()" accept-charset="utf-8" id="registrationForm">
                <fieldset>
                    <div class="control-group">
                        <input ng-model="user.email" name="email" type="email" required="required" placeholder="{{ 'tatami.login.email' | translate }}">
                    </div>
                    <div class="control-group">
                        <button type="submit" id="registrationButton" class="btn btn-primary btn-block text-center" translate="tatami.login.register.title"></button>
                    </div>
                </fieldset>
            </form>
            <button type="button" class="btn btn-info btn-block little-padding text-center" ui-sref="tatami.about.tos" translate="tatami.login.tos"></button>
        </div>
    </div>
</div>