<div class="col-lg-8">
    <div class="alert alert-status">

        <div class = well>
            <form class="form-horizontal">
                <h2 translate="account.profile.title"></h2>
                <fieldset class="form-horizontal row-fluid">
                    <div class="control-group dashed">
                        <label class="control-label"></label>
                        <div class="controls">
                            <div class="dropzone well" ngf-select="upload($file)" ngf-drop="upload($file)" ng-model="current.avatar">
                                <p class="little-padding-top" translate="account.profile.dropPhoto"></p>
                                <!--
                                <input id="avatarFile" type="file" name="uploadFile" data-url="/tatami/rest/fileupload/avatar">
                                -->
                            </div>
                            <div ng-style="{ visibility: uploadStatus.isUploading ? 'visible': 'hidden' }" class="attachmentBar progress progress-striped active">
                                <div class="bar progress-bar progress-bar-info" style="width: {{ uploadStatus.progress }}%;"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <legend translate="account.profile.update"></legend>
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label" translate="account.profile.email"></label>
                    <div class="col-sm-10">
                        <input name="username" type="text" disabled="true" class="form-control" ng-model="userProfile.email" >

                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName" class="col-sm-2 control-label" translate="account.profile.firstName">First Name</label>
                    <div class="col-sm-10">
                        <input name="firstName" type="text" size="15" maxlength="40" class="form-control" ng-model="userProfile.firstName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-2 control-label" translate="account.profile.lastName">Last Name</label>
                    <div class="col-sm-10">
                        <input name="lastName" type="text" id="lastName" size="15" maxlength="40" class="form-control" ng-model="userProfile.lastName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="jobTitle" class="col-sm-2 control-label" translate="account.profile.jobTitle">Job Title</label>
                    <div class="col-sm-10">
                        <input name="jobTitle" type="text" size="15" maxlength="100" class="form-control" ng-model="userProfile.jobTitle">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-2 control-label" translate="account.profile.phoneNumber">Phone</label>
                    <div class="col-sm-10">
                        <input name="phoneNumber" type="text" size="10" maxlength="40" class="form-control" ng-model="userProfile.phoneNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label for="jobDescription" class="col-sm-2 control-label" translate="account.profile.jobDescription">Job Description</label>
                    <div class="col-sm-10">
                        <textarea ng-style="{'height':'200px', 'display':'inline-block'}" name="jobDescription" type="text" maxlength="1000"
                                  class="form-control" ng-model="userProfile.jobDescription" ng-change="statusChange(userProfile.jobDescription)"></textarea>
                    </div>
                    <div class = "pull-right">
                        {{ 'account.profile.remainingChar' | translate }}
                        <span class="countstatus badge">{{ calculateRemainingLength() }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="input-xlarge btn btn-primary btn-block"translate="form.save" ng-click="updateUser()"></button>
                    </div>
                </div>
            </form>
        </div>

                </div>
            </div>


        <!-- Disabled for now until backend handles deleting accounts properly
        <form>
            <fieldset class="form-horizontal row-fluid">
                <legend translate="account.profile.delete"></legend>
                <div class="return"></div>
                <div class="form-actions">
                    <button type="submit" class="input-xlarge btn btn-danger btn-block" ng-click="deleteUser(('account.profile.confirmDelete' | translate))" translate="account.profile.delete">
                    </button>
                </div>
            </fieldset>
        </form>
        -->

    </div>
</div>
