<div>
    <ul class="homebody-nav nav nav-justified">
        <li ui-sref-active="active">
            <a ui-sref="profileStatuses">
            <i class="glyphicon glyphicon-th-list"></i>
            <span translate="home.profile.statuses"></span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="profileFollowing">
            <i class="glyphicon glyphicon-user"></i>
            <span translate="home.profile.following"></span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="profileFollowers">
            <i class="glyphicon glyphicon-user"></i>
            <span translate="home.profile.followers"></span>
            </a>
        </li>
    </ul>
    <section class="tatams-content tatams-margin">
        <div class="tatams-content-title">
            <h3>
                <span ng-if="$state.includes('profileStatuses')">
                    <span ng-if="user.you">
                        <strong ng-if="user.statusCount == 1" translate="home.profile.youStatusesSingular"></strong>
                        <strong ng-if="user.statusCount <= 0 || user.statusCount > 1" translate="home.profile.youStatusesPlural" translate-values="{ amount: user.statusCount }"></strong>
                    </span>
                    <span ng-if="!user.you">
                        <strong ng-if="user.statusCount == 1" translate="home.profile.userStatusesSingular" translate-values="{ username: user.username }"></strong>
                        <strong ng-if="user.statusCount <= 0 || user.statusCount > 1" translate="home.profile.userStatusesPlural" translate-values="{ username: user.username, amount: user.statusCount }"></strong>
                    </span>
                    <span ng-if="user.follower" class="badge hidden-phone">
                        {{ 'home.profile.followsYou' | translate | uppercase }}
                    </span>
                    <span ng-if="!user.activated" class="badge hidden-phone progress-bar-danger">
                        {{ 'home.profile.deactivatedUser' | translate | uppercase }}
                    </span>
                </span>

                <span ng-if="$state.includes('profileFollowing')">
                    <span ng-if="user.you">
                        <strong ng-if="user.friendsCount == 1" translate="home.profile.youFollowingSingular"></strong>
                        <strong ng-if="user.friendsCount <= 0 || user.friendsCount > 1" translate="home.profile.youFollowingPlural" translate-values="{ amount: user.friendsCount }"></strong>
                    </span>
                    <span ng-if="!user.you">
                        <strong ng-if="user.friendsCount == 1" translate="home.profile.userFollowingSingular" translate-values="{ username: user.username }"></strong>
                        <strong ng-if="user.friendsCount <= 0 || user.friendsCount > 1" translate="home.profile.userFollowingPlural" translate-values="{ username: user.username, amount: user.friendsCount }"></strong>
                    </span>
                    <span ng-if="user.follower" class="badge hidden-phone">
                        {{ 'home.profile.followsYou' | translate | uppercase }}
                    </span>
                    <span ng-if="!user.activated" class="badge hidden-phone progress-bar-danger">
                        {{ 'home.profile.deactivatedUser' | translate | uppercase }}
                    </span>
                </span>

                <span ng-if="$state.includes('profileFollowers')">
                    <span ng-if="user.you">
                        <strong ng-if="user.followersCount == 1" translate="home.profile.youFollowersSingular"></strong>
                        <strong ng-if="user.followersCount <= 0 || user.followersCount > 1" translate="home.profile.youFollowersPlural" translate-values="{ amount: user.followersCount }"></strong>
                    </span>
                    <span ng-if="!user.you">
                        <strong ng-if="user.followersCount == 1" translate="home.profile.userFollowersSingular" translate-values="{ username: user.username }"></strong>
                        <strong ng-if="user.followersCount <= 0 || user.followersCount > 1" translate="home.profile.userFollowersPlural" translate-values="{ username: user.username, amount: user.followersCount }"></strong>
                    </span>
                    <span ng-if="user.follower" class="badge hidden-phone">
                        {{ 'home.profile.followsYou' | translate | uppercase }}
                    </span>
                    <span ng-if="!user.activated" class="badge hidden-phone progress-bar-danger">
                        {{ 'home.profile.deactivatedUser' | translate | uppercase }}
                    </span>
                </span>

                <span ng-if="!user.you" class="pull-right" style="line-height: 25px;">
                    <button type="button" ng-click="followUnfollowUser()" ng-init="hoverFollow = false" ng-mouseenter="hoverFollow = true"
                            ng-mouseleave="hoverFollow = false" class="btn btn-sm btn-header"
                            ng-class="{ 'btn-danger': user.friend && hoverFollow, 'btn-info': user.friend && !hoverFollow }">
                        <span class="glyphicon" ng-class="user.friend ? 'glyphicon-minus' : 'glyphicon-plus'"></span>
                            <span ng-if="!user.friend" class="hidden-phone" translate="home.profile.follow"></span>
                            <span ng-if="user.friend && !hoverFollow" class="hidden-phone" translate="home.profile.following"></span>
                            <span ng-if="user.friend && hoverFollow" class="hidden-phone" translate="home.profile.unfollow"></span>
                    </button>
                    <button type="button" ng-click="updateBlockUser()" ng-init="hoverBlock = false" ng-mouseenter="hoverBlock = true"
                            ng-mouseleave="hoverBlock = false" class="btn btn-sm btn-header"
                            ng-class="{ 'btn-danger': user.blocked && hoverBlock, 'btn-info': user.blocked && !hoverBlock }">
                        <span class="glyphicon" ng-class="user.blocked ? 'glyphicon-ok-sign' : 'glyphicon-remove-sign'"></span>
                            <span ng-if="!user.blocked" class="hidden-phone" translate="home.profile.block"></span>
                            <span ng-if="user.blocked && !hoverBlock" class="hidden-phone" translate="home.profile.blocked"></span>
                            <span ng-if="user.blocked && hoverBlock" class="hidden-phone" translate="home.profile.unblock"></span>
                    </button>
                </span>


            </h3>
        </div>
    </section>
</div>
