/* General classes */
.pull-right {
    float:right;
}
.clearfix {
    clear:both;
}
.subheading, .date {
    font-size:12px;
    font-style:italic;
}

/* More specific to sections of app */
.profile-name .subheading, .profile-name .date {
    vertical-align: top;
}
.bar .bar-header .title {
    left:0!important;
    right:0!important;
}
.bar .bar-header .title img {
    margin: 0 auto;
    vertical-align: middle;
}

/* Platform specific styles */
.platform-ios .tab-nav.tabs {
    bottom:43px;
}

