<div id="mainPanel" class="container">
    <div class="col-span-4" style="margin:20px 5px;padding:0">
        <div class="input-group">
            <input ng-model="search" ng-change="searchUsers()" type="text"
                   placeholder="{{ 'tatami.login.email' | translate }}" autofocus>

            <div class="input-group-btn">
                <button class="btn btn-info" ng-click="searchUsers()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
    </div>
    <table id="adminUsers" class="table table-striped">
        <tr>
            <th translate="tatami.admin.avatar" style="width:10%;"></th>
            <th translate="tatami.account.groups.name" style="width:40%;"></th>
            <th translate="tatami.login.email" style="width:40%;"></th>
            <th translate="tatami.account.groups.admin" style="width:10%;"></th>
        </tr>
        <tr ng-repeat="user in users" class="user">
            <td><img class="nomargin avatar img-rounded" ng-src="{{ user.avatarURL }}" height="50"
                     width="50"></td>
            <td><a ui-sref="tatami.home.profile.statuses({ username: user.username })">{{
                user.firstName || ('tatami.home.profile.sidebar.firstName' | translate) }} {{ user.lastName || ('tatami.home.profile.sidebar.lastName' | translate) }}</a></td>
            <td>{{ user.login }}</td>
            <td>{{ user.admin ? ('tatami.admin.yes' | translate) : ('tatami.admin.no' | translate) }}</td>
        </tr>
    </table>
</div>