<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()"><span
            class="glyphicon glyphicon-remove"></span></button>
        <h4 class="modal-title">{{ determineTitle() | translate }}</h4>
    </div>
    <div class="modal-body">
        <a ng-click="current.preview = !current.preview" class="edit-tatam-float-right">
            <i ng-if="current.preview" class="glyphicon glyphicon-edit close" title="{{ 'post.edit' | translate }}"></i>
            <i ng-if="!current.preview" class="glyphicon glyphicon-eye-open close"
               title="{{ 'post.preview' | translate }}"></i>
        </a>
        <fieldset ng-if="!current.preview" class="edit-tatam row-fluid">

            <textarea mentio
                      mentio-typed-text="result"
                      mentio-require-leading-space="true"
                      mentio-id="'postContent'"
                      mentio-items="users"
                      mentio-search="fetchUsers(term)"
                      mentio-select="selectUser(item)"
                      mentio-template-url="/app/shared/topMenu/post/DropdownUserTemplate.html"
                      class="form-control"
                      ng-trim="false"
                      popover="{{ 'post.content.mandatory' | translate }}"
                      popover-placement="bottom"
                      popover-trigger="current.contentEmpty"
                      ng-model="status.content"
                      ng-change="statusChange(status.content)"
                      placeholder="{{ current.reply | placeholderFilter }}"
                      maxlength="750"
                      rows="5"
                      required="required">
            </textarea>

            <mentio-menu mentio-for="'postContent'"
                         mentio-trigger-char="'#'"
                         mentio-template-url="/app/shared/topMenu/post/DropdownTagTemplate.html"
                         mentio-search="fetchTags(term)"
                         mentio-select="selectTag(item)"
                         mentio-items="tags">
            </mentio-menu>
            <div>
                {{ 'post.characters.left' | translate }}
                <span class="countstatus badge">{{ calculateRemainingLength() }}</span>
                <a class="pull-right" target="_blank" href="https://help.github.com/articles/markdown-basics/"
                   translate="post.markdown"></a>
            </div>
        </fieldset>
        <fieldset ng-if="current.preview" class="preview-tatam row-fluid">
            <div class="well well-small markdown" ng-bind-html="status.content | emoticon | markdown"></div>
        </fieldset>
        <fieldset ng-show="current.reply" class="reply row-fluid">
            <legend translate="post.reply">
            </legend>
            <!-- Start of reply section -->
            <div ng-show="current.reply" class="tatam pointer discussion tatam-border-lr tatam-hover"
                 style="display: block;">
                <div id="current" ng-mouseenter="showButtonRow = true" ng-mouseleave="showButtonRow = false"
                     ng-class="{ 'favorite': currentStatus.favorite, 'share': currentStatus.shareByMe, 'both': currentStatus.favorite && currentStatus.shareByMe }">
                    <div class="pull-left background-image-fffix statusitem-img">
                        <a ui-sref="profile.statuses({ email: currentStatus.email })">
                            <div class="img img-rounded img-medium"
                                 ng-style="{ 'background-image': 'url(' + currentStatus.avatarURL + ')' }"></div>
                        </a>
                    </div>
                    <div class="status-content-container">
                        <h5 class="statusitem-name">
                            <a ui-sref="profile.statuses({ email: currentStatus.email })">
                                <strong>{{ currentStatus.firstName + ' ' + currentStatus.lastName }}</strong>
                                <small>@{{ currentStatus.username }}</small>
                            </a>
                            <small> ·</small>
                            <!-- Replace hover title with hover bubble -->
                            <a ui-sref="status({ status: currentStatus.statusId })">
                                <!--English-->
                                <small ng-if="!isOneDayOrMore(currentStatus.statusDate) && getLanguageKey() == 'en'"
                                       title="{{ currentStatus.statusDate | amDateFormat:'h:mm A - D MMM YYYY' }}"
                                       am-time-ago="currentStatus.statusDate"></small>
                                <small ng-if="isOneDayOrMore(currentStatus.statusDate) && getLanguageKey() == 'en'"
                                       title="{{ currentStatus.statusDate | amDateFormat:'h:mm A - D MMM YYYY' }}">{{
                                    currentStatus.statusDate | amDateFormat:'MMM D' }}
                                </small>
                                <!--French-->
                                <small ng-if="!isOneDayOrMore(currentStatus.statusDate) && getLanguageKey() == 'fr'"
                                       title="{{ currentStatus.statusDate | amDateFormat:'HH:mm - D MMMM YYYY' }}"
                                       am-time-ago="currentStatus.statusDate"></small>
                                <small ng-if="isOneDayOrMore(currentStatus.statusDate) && getLanguageKey() == 'fr'"
                                       title="{{ currentStatus.statusDate | amDateFormat:'HH:mm - D MMMM YYYY' }}">{{
                                    currentStatus.statusDate | amDateFormat:'D MMMM' }}
                                </small>
                            </a>
                            <a ng-if="currentStatus.locationURL" class="glyphicon glyphicon-map-marker"
                               ng-href="{{ currentStatus.locationURL }}" target="_blank"></a>
                        </h5>

                        <div class="markdown" ng-bind-html="currentStatus.content | emoticon | markdown"></div>

                        <small ng-if="currentStatus.groupId">
                            <a class="label"
                               ng-class="{ 'label-info': !status.publicGroup, 'label-warning': status.publicGroup }"
                               ui-sref="home.group.statuses({ groupId: currentStatus.groupId })">
                                {{ currentStatus.groupName }}
                            </a>
                            <br>
                        </small>

                        <small ng-if="currentStatus.statusPrivate">
                            <span class="glyphicon glyphicon-lock"></span>
                            <span translate="status.private"></span>
                            <br>
                        </small>

                        <small ng-if="currentStatus.replyTo">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            <span translate="status.replyTo"></span>
                            <a ui-sref="status({ status: currentStatus.replyTo })">@{{ currentStatus.replyToUsername
                                }}</a>
                            <br>
                        </small>

                        <small>
                            <div class="attachments">
                                <div>
                                    <span ng-repeat="attachment in currentStatus.attachments">
                                    <a href="/tatami/file/{{ attachment.attachmentId }}/{{ attachment.filename }}"
                                       class="btn-link status-action" target="_blank">
                                    <i class="glyphicon glyphicon-file"></i> {{ attachment.filename }}
                                    </a>
                                    </span>
                                </div>
                            </div>
                        </small>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="row-fluid">
            <legend translate="post.options"></legend>
            <div ng-show="!current.reply">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="current.geoLoc" ng-change="updateLocation()">
                        <span class="glyphicon glyphicon-map-marker"></span> {{ 'post.shareLocation' | translate }}
                    </label>
                </div>
                <div ng-if="current.geoLoc">
                    <!-- Was width:250px, changed it to 500 -->
                    <div id="simpleMap" style="height:250px; width:100%;"></div>
                    <div class="geolocMap">
                    </div>
                </div>
            </div>
            <div ng-show="!current.reply && current.groups.length">
                <label class="control-label" translate="post.group"></label>
                <select ng-model="status.groupId"
                        ng-options="group.groupId as group.name for group in current.groups | filter: { archivedGroup: false }">
                    <option></option>
                </select>
            </div>
            <div class="controls status-files" ng-model="current.files" ng-multiple="true">
                <label translate="post.files">
                </label>
                <div ng-show="uploadStatus.isUploading" class="attachmentBar progress progress-striped active">
                    <div class="bar progress-bar progress-bar-info" style="width:{{uploadStatus.progress}}%;"></div>
                </div>
                <div ngf-drop="uploadFiles($files)" ngf-select="uploadFiles($files)" ngf-multiple="true"
                     class="drop-box dropzone well" translate="post.drop.file">
                </div>
                <div ng-show="current.attachments.length != 0" ng-repeat="attachment in current.attachments">
                    <p>
                        {{ attachment.name }} ({{ fileSize(attachment) }})
                    </p>
                </div>
            </div>
            <div ng-show="!current.reply" class="controls status-private">
                <div class="checkbox">
                    <label>
                        <input ng-model="status.statusPrivate" id="statusPrivate" name="statusPrivate" type="checkbox"
                               value="true">
                        <span class="glyphicon glyphicon-lock"></span> {{ 'status.private' | translate }}
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <a class="btn" aria-hidden="true" ng-click="closeModal()" translate="form.cancel"></a>
        <span class="hidden-label submit-label" translate="global.post.button"></span>
        <span class="hidden-label tatam-mandatory" translate="post.mandatory"></span>
        <input ng-click="newStatus()" type="submit" class="btn btn-primary submit"
               value="{{ 'global.post.button' | translate }}">
    </div>
</div>
