<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml">
<section id="followline">
    <div id="userSearch">
        <i class="icon-zoom-in"></i><strong>Follow another user...</strong>

        <form id="userSearchForm" class="form-search" >
			<div id="searchErrorPanel" class="alert alert-error" style="display: none;">
				<h4 class="alert-heading">Error!</h4>
				<span class="errorMessage"></span>
			</div>	             
            <input id="followUserInput" name="searchString" type="text" class="search-query"
                   placeholder="Login, first or last name..." required="required"/>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <div class="alert alert-success alert-block" id="followSuccess" style="display: none;">
        	<a class="close" data-dismiss="alert">&times;</a>
        </div>
        <div class="alert alert-error alert-block" id="followError" style="display: none;">
        	<a class="close" data-dismiss="alert">&times;</a>
        </div>        
    </div>

    <div id="followableUsers">
		<div id="followErrorPanel" class="alert alert-error" style="display: none;">
			<h4 class="alert-heading">Error!</h4>
			<span class="errorMessage"></span>
		</div>	    
       <i class="icon-random"></i> <strong>Who to follow</strong>
        <table class="table table-striped">
            <tbody id="userSuggestions">
            	
            </tbody>
	    </table>
    </div>
    <div id="userSearchPanel" class="row-fluid noMargin noPadding" style="display: none;">
	    <div id="userSearchTitle" class="center">
			<span>User Search Results</span>
	    </div>
	    
	    <div class="row-fluid noMargin noPadding">
			<table class="row-fluid">
				<tbody id="userSearchList">
				</tbody>
			</table>
	    </div>
   </div>    
</section>
</html>
