<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml">
<section id="userline">
	<table class="table table-striped lineHeaderTable">
		<thead>
			<tr>
				<td colspan="3" class="center"><h3>User status list</h3></td>
				<td class="refreshCell">
					<a class="refreshLineIcon" href="#" title="Refresh - shortcut : ctrl+R">
						<i class="frame icon-refresh"></i>
					</a>
				</td>
			</tr>
		</thead>
	</table>

	<div class="row-fluid statusContainer">
		<table class="table table-striped">
			<tbody id="userStatusList" class="lineContent"></tbody>
		</table>
	</div>
	
	<footer class="row-fluid" data-rest-url="/tatami/rest/statuses/user_timeline?screen_name=__LOGIN__&p=__START__&count=__END__"
		data-line-type="userline">
		<div class="span9 fullHeight middle">
			<button class="statusPagingButton row-fluid btn btn-primary" type="button">Click to get more ...</button>
		</div>
		<div class="span3 right">
			<em>#</em>&nbsp;
			<select class="pageSelector">
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="20">20</option>
			</select>
		</div>
	</footer>
</section>
</html>