<div>
    <h2 translate="tatami.account.users.title"></h2>
    <div class="tabMenu">
        <ul class="nav nav-tabs">
            <li ng-class="{ 'active': $state.current.name === 'account.users.following' }">
                <a ui-sref="account.users.following" translate="tatami.account.users.following"></a>
            </li>
            <li ng-class="{ 'active': $state.current.name === 'account.users.recommended' }">
                <a ui-sref="account.users.recommended" translate="tatami.account.users.recommend"></a>
            </li>
            <li ng-class="{ 'active': $state.current.name === 'account.users.search' }">
                <a ui-sref="account.users.search" translate="tatami.account.users.search"></a>
            </li>
        </ul>
    </div>
    <div>
        <form class="row-fluid littleMargeBot">
            <input ng-show="$state.current.name === 'account.users.search'" ng-model="current.searchString" ng-trim="false" ng-change="search()" id="block_filter" type="text" class="search-query col-span-12" name="result_filter" autocomplete="off" placeholder="{{ 'tatami.account.users.search' | translate }}">
        </form>
        <div class="useritem" ng-repeat="user in usersList">
            <div class="pull-left background-image-fffix">
                <div class="img img-rounded img-medium" ng-style="{ 'background-image': 'url(' + user.avatarURL + ')' }"></div>
            </div>
            <h4>
                <span ng-if="!user.you" ng-click="followUser(user, $index)" ng-init="hover = false" ng-mouseenter="hover = true" ng-mouseleave="hover = false" class="pointer pull-right label" ng-class="{ 'label-danger': user.friend && hover, 'label-info': user.friend && !hover }">
                    <span class="glyphicon" ng-class="user.friend ? 'glyphicon-minus' : 'glyphicon-plus'"></span>
                </span>
                <a ui-sref="home.profile.statuses({ username: user.username })">
                    <strong>
                        {{ user.firstName + ' ' + user.lastName }}
                    </strong>
                </a>
                <br>
                <a ui-sref="home.profile.statuses({ username: user.username })">
                    <small>
                        @{{ user.username }}
                    </small>
                </a>
            </h4>
        </div>
    </div>
</div>