<div class="col-span-8">
    <div class="alert alert-status">
        <div ng-controller="UsersController" ng-init="getUsers()">
            <div class="tabMenu">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#account/users" translate="tatami.users.myFriends"></a>
                    </li>
                    <li>
                        <a href="#account/users/recommended" translate="tatami.users.recommend"></a>
                    </li>
                    <li>
                        <a href="#account/users/search" translate="tatami.users.search"></a>
                    </li>
                </ul>
            </div>
            <div class="useritem" ng-repeat="users in usersGroup">
                <div class="pull-left background-image-fffix">
                    <div class="img img-rounded img-medium" style="background-image: url(/tatami/avatar/{{ users.avatar }}/photo.jpg);"></div>
                </div>
                <h4>
                    <span class="toggleFriend pointer pull-right label label-info">
                        <span class="glyphicon glyphicon-minus"></span>
                    </span>
                    <a href="/tatami/home/#/users/{{ users.username }}">
                        <strong>
                            {{ users.firstName }} + ' ' + {{ users.lastName }}
                        </strong>
                    </a>
                    <br>
                    <a href="/tatami/home/#/users/{{ users.username }}">
                        <small>
                            @{{ users.username }}
                        </small>
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>