@media screen and (max-width: 767px) {
    .navbar .nav, .navbar .navbar-form {
        float: none;
    }

    .nav > li > .dropdown-menu {
        position: static;
        float: none;
    }

    .nav li.dropdown-submenu > ul.dropdown-menu {
        position: initial;
        z-index: 0;
        float: none;
        margin: 0;

    }
}

.img-small {
    width: 25px;
    height: 25px;
    background-position: center center;
    background-size: cover;
}

.img-medium {
    width: 50px;
    height: 50px;
    background-position: center center;
    background-size: cover;
}

.img-big {
    width: 70px;
    height: 70px;
    background-position: center center;
    background-size: cover;
}

.navbar-edit {
    line-height: 14px;
    left: 10px;
    right: initial;
    width: 48px;
    padding: 4px 13px 3px;
}

.navbar-edit:hover,
.navbar-edit:focus {
    background-color: #ddd;
}

.title {
    margin-left: 80px;
}
.title > img {
    margin-left: -80px;
}

.page-header {
    margin-top: 0;
}

.img-rounded {
    border-radius: 15px;
}

.navbar .btn-navbar.fix-navbar {
    height: 14px;
    padding-top: 6px;
    line-height: 14px;
    font-size: 12px;
}

.title, .tatam *, .trends *, .profile *, .preview-tatam *, .profile-card, .wrap * {
    white-space: normal;
    word-wrap: break-word;
}

.profile-card > img {
    margin-right: 5px;
}

.tatam, .useritem {
    padding: 0px 5px 1px 60px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    overflow: hidden;
    display: none;
}

.useritemmini {
    padding: 0px 5px 1px 35px;

    overflow: hidden;
    display: none;
}

.useritemmini h6 {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 12px
}

.useritem, .useritemmini {
    display: block;
}

.tatam.discute {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tatam.favorite {
    -webkit-box-shadow: 0 0 10px rgba(175, 120, 25, 0.5);
    -moz-box-shadow: 0 0 10px rgba(175, 120, 25, 0.5);
    box-shadow: 0 0 10px rgba(175, 120, 25, 0.5);

    background-image: url(img/favorite.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.tatam.discute.favorite {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(175, 120, 25, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(175, 120, 25, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(175, 120, 25, 0.5);
}

.pointer {
    cursor: pointer;
}

.tatam > div:first-child, .useritem > div:first-child {
    margin-left: -60px;
    padding: 5px;
}

.useritemmini > div:first-child {
    margin-left: -35px;
    padding: 5px;
}

.tatam > header {
    padding-bottom: 0;
    margin-bottom: 5px;
}

.tatam > .well {
    padding-bottom: 0;
    margin-bottom: 5px;
}

.tatams {
    margin-top: 15px;
    margin-bottom: 15px;
}

/*.tatams:first-child {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}*/

.tatams > * {
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.tatams > *:last-child {
    margin-bottom: 0;
}

.tatams-discute > .tatam > header {
    margin-top: 0;
    margin-bottom: 0;
}

.edit-tatam-float-right {
    position: absolute;
    right: 0;
    margin-right: 20px;
    padding: 2px;
}

.refresh-button {
    margin-top: 15px;
    margin-bottom: 15px;
}

.dropzone {
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    border-style: dashed;
    border-width: 2px;
    border-color: #808080;
}

.dropzone.in {
    border-style: dashed;
    border-width: 2px;
    border-color: #0088cc;
}

#tatamiBody {
    padding-top: 15px;
}


/**
** Search Engine
**/

.typeahead.dropdown-menu.hasCategory{
    /*width: 280px;*/
    background: #EDEDED;
    padding: 0px;
}

@media screen and (max-width: 767px) {
    .typeahead.dropdown-menu.hasCategory{
        position: static;
        width: 100%;
    }
}

@media (min-width: 979px) {
  .typeahead.dropdown-menu.hasCategory{
    margin-left: -53px;
  }

  #searchHeader{
    width: 320px;
  }
}


.hasCategory .item{
    height: 33px;
    margin-left: 40px;
    background: #FFFFFF;
    cursor: pointer;
}
.hasCategory .category{
    cursor: default;
    height: auto;
    background: #EDEDED;
    padding: 6px 5px 5px 13px;
    width:30px;
}
.hasCategory li.first{
    margin-top:-31px;
}
.hasCategory li.first, .hasCategory .category{
    /*border-top: 1px solid #CCCCCC;*/
}
.hasCategory li.item.active a{
    height: 24px;
    padding:0;
}
.hasCategory li:first-child{
    border-top: none;
}
.hasCategory li.item img{
    display: block;
    float: left;
    margin: 2px 8px 0 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.hasCategory li.item h4{
    font-size: 12px;
    margin: 0 1px 0 0;
}
.hasCategory li.item h4 a{
    color:#000;
    padding:0;
}
.hasCategory li.item p{
    font-size: 11px;
    margin: 0;
    overflow: hidden;
    height: auto;
    line-height: 11px;
}
.hasCategory li.item.users, .hasCategory li.item.groups{
    padding: 3px 0 4px 5px;
}
.hasCategory li.item.active,
.hasCategory li.item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    outline: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.hasCategory li.item a:hover{
    text-decoration: none;
}
.hasCategory li.tags a{
    padding: 3px 10px;
}
.hasCategory li.groups p{
    margin-left: 10px;
    margin-top: -2px;
}
.box-info{
    background: none;
    border: none;
    box-shadow: none;
}

.nav-collapse .dropdown-menu .divider {
  display: block;
  height: 0px;
  border-bottom: 1px solid #CCCCCC;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}