body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    padding-bottom: 30px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#search-contener {
	background-color:#fff;
    width: 210px;
    height: 26px;
    border-radius: 3px;
}

#search-contener .btn-group {
	float:left;
	margin-top:0px;	
}

#search-contener .search-user-agent {
	height:16px;
	border:none;
}

#search-contener .btn-group > .dropdown-toggle {
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	-moz-border-radius-topright: Opx;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
}