.homeMenu{margin-left:0;margin-bottom:0.3em;list-style:none;}

body {
    background-image:url(/img/wallpaper.jpg);
}

/*
  Profile Stats table
*/

.nopadding {
  padding: 0px;
}

.nomargin {
  margin: 0px;
}

/*
  Profile Stats table desktop
*/

.profile-infos {
  text-align: center;
  margin-bottom: 0px
}

.profile-infos td, .profile-infos th {
  text-align: center;
  padding: 0px;
}

/*
  Profile Stats table tablet
*/

#profileContent .well, #profileOnlineUsers .well, #profileFollow .well, #profileTrends .well, #userTrends .well {
  padding: 0px;
}

#profileContent table, #profileOnlineUsers .table, #profileFollow table, #profileTrends table, #userTrends table {
  margin: 0px;
}

form {
  margin-bottom: 0px;
}

.table-right th {
  text-align: left;
  width: 100px;
}
.table-right td {
  text-align: right;
}

.alert {
  padding-right: 14px;
}

#updateStatusContent {
    height: 20px;
}

#contentGroup {
    display: none;
}

#updateStatusPrivate {
    display: none;
}

.counter{
    font-size:80%;
    font-style: italic;
}
.counter_warning{color: #ff7f00;}
.counter_exceeded{color: #ee0014;}

#contentHelp {
    font-size:80%;
    font-style: italic;
}

#updateStatusGroup {
    height: 20px;
}

#updateStatusFileupload {
    display: none;
}

#dropzone {
    width: 60%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    border-style: dashed;
    border-width: 2px;
    border-color: #808080;
    display: none;
}
#dropzone.in {
    width: 80%;
    height: 100px;
    line-height: 100px;
    font-size: larger;
}
#dropzone.hover {
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.trends {
    color: #0088CC;
    text-decoration: none;
    font-weight: bold;
    font-size: 110%;
    margin-left: 5px;
}

#trends ul li {
	list-style-type:none;
}

#trends ul {
	margin:10px 0 10px 0px;
}

.alert-status {
    color: #000000;
    background-color: #fcfcfc;
    border-color: #E6E6E6;
}

.alert-discuss {
  color: #000000;
  background-color: #E6E6E6;
  border-color: #E6E6E6;
}

.alert-shares {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #000000;
  border-color: #E6E6E6;
}

.share-title {
  text-align: center;
}

.share-number {
  text-align: center;
  font-weight: bold;
}

.shares-list div {
  float:left;
}

.details-available {
    box-shadow: 2px 2px 2px #888;
}

.statuses-details {
    padding-left: 50px;
}

.statuses table, .shares table {
    width: 100%;
}

.userStatus {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 110%;
    margin-left: 5px
}
.userStatus:hover {
    text-decoration: none;
    color: #08C;
}

.userStatus em {
    font-size: 90%;
    color: #808080;
    font-weight: normal;
}
.userStatus-info {
    color: #808080;
    font-weight: normal;
}

.avatar {
    width: 64px;
    height: 64px;
    border-radius: 5px 5px 5px 5px;
    margin-right: 5px;
    margin-bottom: 0px;
}

.avatar-small {
    width: 32px;
    height: 32px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.status-actions {
  font-size: 90%;
  font-weight: normal;
  padding-right: 10px;
}

.status-actions a:hover {
  cursor: pointer;
}

.status-content p {
  word-break: break-word;
  word-wrap: break-word;
}

.status-content a {
  font-weight: bold;
}

.status .well {
  padding: 5px;
  margin-bottom: 0px;
}

.timeago {
  color: #808080;
  font-size: 90%;
}

.favorite {
  background-image: url(/img/favorite.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.status {
  margin-bottom: 5px;
}

.status th:first-child {
  vertical-align: top;
  width: 64px;
}

.status table {
  margin-bottom: 0px;
}

.status td {
  padding-bottom: 0px;
  padding-right: 0px;
}

.profilMenu {
  margin-bottom: 0px;
}

/*
  Responsive design
*/

/*
  Fix input width on phone
*/

/* Landscape phones and down */
@media (max-width: 480px) {
  .hero-unit {
    padding: 10px;
  }

  .hero-unit h1 {
    font-size: 42px;
  }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  [class*="span"], .row-fluid [class*="span"] {
    width: 100%;
  }

  .navbar-fixed-top, .navbar-fixed-bottom {
    margin-right: -5px;
    margin-left: -5px;
    margin-bottom: 5px;
  }

  body {
    padding-left: 5px;
    padding-right: 5px;
  }


  .alert {
    padding-left: 8px;
    padding-right: 8px;
  }

  .status th {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .alert {
    margin-bottom: 5px;
  }

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}
 
/* Large desktop */
@media (min-width: 1200px) {
}

table {
  table-layout: fixed;
}

.tags-followed {
	margin:0px 10px 10px 0px;
	padding:5px;
	text-shadow:none;
}

.tags-followed a {
	color:#ffffff;
}

.margin-bottom5 {
	margin-bottom:5px;
}

.margin-top20 {
	margin-top:20px;
}

.nav-collapse .dropdown-menu.closed {
    display: none;
}

.nav-collapse .open .dropdown-menu.closed {
    display: block;
}

.user-profile {
	margin:0px;
}

.typeahead-item{
    width: 200px;
}
