<ion-view view-title="Post">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear button-small icon ion-close-round" style="opacity:0.4;" ng-click="vm.close()">
        </button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-subfooter">
        <div>
            <form name="newPost" novalidate="">
                <div class="list">
                    <label class="item item-input">
                        <textarea type="text"
                                  name="msg"
                                  ng-model="vm.status.content"
                                  rows="15"
                                  placeholder="Post Here..."
                                  ng-required="true"></textarea>
                    </label>
                </div>
            </form>
        </div>
        <span ng-repeat="image in vm.images track by $index">
            <div class="list card">
                <div class="item item-image">
                    <img class="center" ng-show="vm.images.length > 0" ng-src="{{ image }}">
                    <i class="icon ion-close-round light" ng-click="vm.remove($index)"></i>
                </div>
            </div>
        </span>
    </ion-content>
    <ion-footer-bar align-title="right" tatami-post-bar-attach="true" class="bar-subfooter">
        <div class="row" style="width:50%;">
            <button style="opacity: 0.5;" class="col-33 button button-clear icon ion-camera" ng-click="vm.getPicture()"></button>
            <button style="opacity: 0.5;" class="col-33 button button-clear icon ion-images" ng-click="vm.getPictureFromLibrary()"></button>
            <button style="opacity: 0.5;" class="col-33 button button-clear icon tatami-location" ng-click="vm.getLocation()"></button>
        </div>

        <h1 class="title" style="opacity: 0.5;">{{ vm.charCount - vm.status.content.length }}</h1>
        <button class="button button-positive" ng-disabled="vm.status.content.length === 0 || !vm.status.content || vm.isPosting" ng-click="vm.post()">
            Post
        </button>
    </ion-footer-bar>
</ion-view>
