

<div class='popover tour'>
    <div class='arrow'></div>
    <h3 class='popover-title'>
        <b translate="tatami.welcome.help.title"></b>
    </h3>
    <div class='popover-content'>
        {{ 'tatami.welcome.help.line1' | translate }}
        <br>
        <p translate="tatami.welcome.help.line2"></p>
        <br>
    </div>
    <div class='popover-navigation'>
        <button class='btn btn-default' data-role='prev'>« Prev</button>
        <span data-role='separator'>|</span>
        <button class='btn btn-default' data-role='next'>Next »</button>
    </div>
    <button class='btn btn-default' data-role='end'>End tour</button>
    </nav>
</div>