<aside  class="col-span-3"><div>
<!--id="tatamiSide"-->
    <section class="actions"></section>
    <section ng-controller="UserController" class="hidden-phone profile"><div>
    <h4 class="profile-card background-image-fffix">
        <div class="img img-rounded img-big" style="background-image: url(/img/default_image_profile.png);"></div>
    </h4>
    <div class="well well-small">
        <h4>
            <span class="glyphicon glyphicon-user"></span>
            Profile
        </h4>

        <p>
            <strong>
                First name :
            </strong>
             {{ user.firstName }}
        </p>

        <p>
            <strong>
                Last name :
            </strong>
            {{user.lastName}}
        </p>

        <p>
            <strong>
                E-mail :
            </strong>
            {{user.login}}
        </p>

        <p>
            <strong>
                Job title :
            </strong>
            {{user.jobTitle}}
        </p>

        <p>
            <strong>
                Phone number :
            </strong>
            {{user.phoneNumber}}
        </p>
    </div>
</div></section>
    <section ng-controller="UserController" class="hidden-phone stats"><div>
    <div class="well well-small">
        <h4>
            <span class="glyphicon glyphicon-signal"></span>
            Statistics
        </h4>

        <div>
            <p>
                <strong>
                    Status :
                </strong>
                <a href="#users/{{user.username}}">
                    <span class="badge">{{user.statusCount}}</span>
                </a>
            </p>

            <p>
                <strong>
                    Followed :
                </strong>
                <a href="#users/{{user.username}}/friends">
                    <span class="badge">{{user.friendsCount}}</span>
                </a>
            </p>

            <p>
                <strong>
                    Followers :
                </strong>
                <a href="#users/{{user.username}}/followers">
                    <span class="badge">{{user.followersCount}}</span>
                </a>
            </p>
        </div>
    </div>
</div>
</section>
   <!--<section class="hidden-phone tagTrends"><div>
    <div class="well well-small">
        <h4>
            <span class="glyphicon glyphicon-fire"></span>
            &nbsp;Trends
        </h4>
        <div class="items">
        </div>
    </div>
</div>
</section>-->
 <section ng-controller="TrendsController" class="hidden-phone tag-trends">
            <div>
                <div class="well well-small">
                    <h4 id="profile-trends-title">
                        <span class="glyphicon glyphicon-fire"></span>
                        &nbsp;Trends
                    </h4>
                    <div class="items">
                        <div ng-repeat="tag in tags">
                            <span class="little-padding toggleTag pointer pull-right label">
                            <span class="glyphicon glyphicon-plus"></span>
                            </span>
                            <span class="glyphicon glyphicon-arrow-up"></span>
                            <a ng-cloak href="#tags/{{tag.name}}">#{{ tag.name }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div></aside>