<section id="timeline">
    <header>
        <div class="alert" id="refreshStatus" hidden="hidden"></div>
    </header>
    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="3"><h2>Tweets</h2></th>
            <th>
                <a href="#" id="refreshTweets" title="Refresh - shortcut : ctrl+R"><i
                        class="icon-repeat icon-white"></i></a>
            </th>
        </tr>
        </thead>
        <tbody id="tweetsList" class="tweetsList"></tbody>
    </table>
    <footer>
        <i class="icon-download"></i> <em>Scroll down to get more tweets.</em>
    </footer>
</section>
