<div>
    <ng-include src="'/app/shared/topmenu/TopMenuView.html'"></ng-include>
    <div id="mainPanel" class="container">
        <br>
        <div class="row">
            <!-- The nagivation sidebar -->
            <div id="navigation">
                <div>
                    <div class="col-span-4 alert">
                        <div id="avatar">
                            <div class="row text-center nomargin avatar-float-center-container">
                                <div>
                                    <img class="nomargin avatar img-rounded" ng-src="{{ profile.avatarURL }}">
                                </div>
                                <br>
                                <div>
                                    <a ui-sref="home.profile.statuses({ username: profile.username })">
                                        <h3 class="user-profile">{{ profile.firstName + ' ' + profile.lastName }}</h3>
                                    </a>
                                    <a ui-sref="home.profile.statuses({ username: profile.username })">
                                        <p>@{{ profile.username }}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tabbable alert alert-status">
                            <ul class="adminMenu nav nav-pills nav-stacked nomargin">
                                <li ui-sref-active="active">
                                    <a ui-sref="account.profile">
                                    <i class="glyphicon glyphicon-user"></i> {{ 'tatami.account.profile.title' | translate }}
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="account.preferences">
                                    <i class="glyphicon glyphicon-picture"></i> {{ 'tatami.account.preferences.title' | translate }}
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="account.password">
                                    <i class="glyphicon glyphicon-lock"></i> {{ 'tatami.account.password.title' | translate }}
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="account.files">
                                    <i class="glyphicon glyphicon-file"></i> {{ 'tatami.account.files.title' | translate }}
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="account.users">
                                    <i class="glyphicon glyphicon-globe"></i> {{ 'tatami.account.users.title' | translate }}
                                    </a>
                                </li>
                                <li ng-class="{ 'active': $state.current.name.indexOf('account.groups') != -1 }">
                                    <a ui-sref="account.groups">
                                    <i class="glyphicon glyphicon-th-large"></i> {{ 'tatami.account.groups.title' | translate }}
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="account.tags">
                                    <i class="glyphicon glyphicon-tags"></i> {{ 'tatami.account.tags.title' | translate }}
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="account.sotd">
                                    <i class="glyphicon glyphicon-signal"></i> {{ 'tatami.account.sotd.title' | translate }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div ui-view></div>
        </div>
    </div>
</div>