<div ng-cloak>
    <ng-include src="'/app/shared/topmenu/TopMenuPartial.html'"></ng-include>
    <div id="mainPanel" class="container">
        <div id="avatar">
            <div>
                <div class="nomargin well row avatar-float-left-container">
                    <div class="col-span-5 text-center">
                        <a href="/tatami/home/users/{{ user.username }}/">
                            <!-- Setting src="{{ avatarURL }}" causes a MIME type message, not sure why -->
                            <img class="pull-left nomargin avatar avatar-float-left" ng-src="{{ avatarURL }}" alt="">
                            <h3 class="user-profile" ng-cloak>{{ user.firstName + ' ' + user.lastName }}</h3>
                            <p>@{{ user.username }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <!-- The nagivation sidebar -->
            <div id="navigation">
                <div>
                    <div class="col-span-4">
                        <div class="tabbable alert alert-status">
                            <ul class="adminMenu nav nav-pills nav-stacked nomargin">
                                <li ng-class="{'active' : isActive('/account/profile') }">
                                    <a href="#/account/profile">
                                    <i class="glyphicon glyphicon-user"></i> {{ 'tatami.profile.title' | translate }}
                                    </a>
                                </li>
                                <li ng-class="{'active' : isActive('/account/preferences') }">
                                    <a href="#/account/preferences">
                                    <i class="glyphicon glyphicon-picture"></i> {{ 'tatami.preferences.title' | translate }}
                                    </a>
                                </li>
                                <li ng-class="{'active' : isActive('/account/password') }">
                                    <a href="#/account/password">
                                    <i class="glyphicon glyphicon-lock"></i> {{ 'tatami.password.title' | translate }}
                                    </a>
                                </li>
                                <li ng-class="{'active' : isActive('/account/files') }">
                                    <a href="#/account/files">
                                    <i class="glyphicon glyphicon-file"></i> {{ 'tatami.files.title' | translate }}
                                    </a>
                                </li>
                                <li ng-class="{'active' : isActive('/account/users') || isActive('/account/users/recommended') || isActive('/account/users/search') }">
                                    <a href="#/account/users">
                                    <i class="glyphicon glyphicon-globe"></i> {{ 'tatami.users.title' | translate }}
                                    </a>
                                </li>
                                <li ng-class="{'active' : isActive('/account/groups') || isActive('/account/groups/recommended') || isActive('/account/groups/search') }">
                                    <a href="#/account/groups">
                                    <i class="glyphicon glyphicon-th-large"></i> {{ 'tatami.groups.title' | translate }}
                                    </a>
                                </li>
                                <li ng-class="{'active' : isActive('/account/tags') || isActive('/account/tags/recommended') || isActive('/account/tags/search') }">
                                    <a href="#/account/tags">
                                    <i class="glyphicon glyphicon-tags"></i> {{ 'tatami.tags.title' | translate }}
                                    </a>
                                </li>
                                <li ng-class="{'active' : isActive('/account/sotd') }">
                                    <a href="#/account/sotd">
                                    <i class="glyphicon glyphicon-signal"></i> {{ 'tatami.sotd.title' | translate }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div ui-view></div>
        </div>
    </div>
</div>