<ng-include src="'/app/shared/topMenu/TopMenuView.html'"></ng-include>
<div id="mainPanel" class="container well well-sm">
    <div class="text-center well well-sm">
        <h1 translate="tatami.login.mainTitle"></h1>
        <h3 translate="tatami.login.subtitle"></h3>
        <a ui-sref="tatami.about.presentation"><h4 translate="tatami.login.moreInfo"></h4></a>
    </div>
    <div class="col-span-12">


        <div ui-view="googleLogin"></div>
        <div ui-view="manualLogin"></div>
        <div ui-view="register"></div>



    </div>
</div>