<div>
    <ul class="homebody-nav nav nav-justified">
        <li ui-sref-active="active">
            <a ui-sref="tatami.home.search">
            <i class="glyphicon glyphicon-search"></i>
            <span translate="tatami.home.searchPage.title"></span>
            </a>
        </li>
    </ul>
    <section class="tatams-content tatams-margin">
        <div class="tatams-content-title">
            <h3>
                <strong translate="tatami.home.searchPage.statusesWith"></strong>
                <strong>"{{ searchTerm }}"</strong>
            </h3>

        </div>
    </section>
</div>