<ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="vm.goToProfile(vm.user.username)">
    <img ng-src="{{ vm.user.avatarURL }}"/>
    <div class="profile-name">
        <h2 class="inline">{{ vm.user.firstName }} {{ vm.user.lastName }}</h2>
        <span class="inline subheading">@{{ vm.user.username }}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
    </div>
    <ion-option-button class="button-positive"
                       ng-show="vm.$state.includes('follow') || vm.$state.includes('allusers')"
                       ng-click="vm.followUser(user)">
                {{ (vm.user.friend ? 'user.unfollow' : 'user.follow') | translate }}
    </ion-option-button>
    <ion-option-button class="button-positive"
                       ng-show="vm.$state.includes('blockedusers')"
                       ng-click="vm.updateBlockUser()">
                {{ (vm.user.blocked ? 'user.unblock.title' : 'user.block.title') | translate }}
    </ion-option-button>
    <ion-option-button class="button-assertive"
                           ng-show="vm.$state.includes('allusers') && vm.currentUser.isAdmin"
                           ng-click="vm.toggleActivateUser()">
        {{ (vm.user.activated ? 'user.deactivate.title' : 'user.reactivate.title') | translate }}
    </ion-option-button>
    <!--The ion-option-buttons are included in <span></span> because of an ionic bug : if the ion-options button contain an -->
    <!--ng-if directive and an ng-click directive, then ng-click action from both the ion-item and the ion-option-button will be triggered.-->
</ion-item>
