<div>
    <section class="hidden-phone profile">
        <div class="page-header">
            <h4 class="profile-card background-image-fffix">
                <div class="img img-rounded img-big pull-left" ng-style="{ 'background-image': 'url(' + user.avatarURL + ')' }"></div>
            </h4>
        </div>
        <div class="well well-sm little-padding">
            <div>
                <a class="h3" ui-sref="profileStatuses({ email: user.username })">
                    <strong>{{ user.firstName + ' ' + user.lastName }}</strong>
                </a>
            </div>
            <div>
                <a class="h5 text-muted" ui-sref="profileStatuses({ email: user.username })">
                    @{{ user.username }}
                </a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-user"></span>
                <span translate="home.profile.sidebar.information"></span>
            </div>
            <div class="panel-body">
                <p>
                    <strong translate="home.profile.sidebar.firstName"></strong>:
                    {{ user.firstName }}
                </p>
                <p>
                    <strong translate="home.profile.sidebar.lastName"></strong>:
                    {{ user.lastName }}
                </p>
                <p>
                    <strong translate="home.profile.sidebar.jobTitle"></strong>:
                    {{ user.jobTitle }}
                </p>
                <p>
                    <strong translate="home.profile.sidebar.email"></strong>:
                    <a ng-href="mailto:{{ user.login }}">{{ user.login }}</a>
                </p>
                <p>
                    <strong translate="home.profile.sidebar.phoneNumber"></strong>:
                    {{ user.phoneNumber }}
                </p>
            </div>
        </div>
    </section>
    <section class="hidden-phone tag-trends">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-fire"></span>
                <span translate="home.profile.sidebar.trends"></span>
            </div>
            <div class="panel-body items">
                <div ng-repeat="tag in tags">
                    <!--the label class seems to be breaking the glyphicon-plus icon:-->
                    <span ng-click="followTag(tag, $index)" ng-init="hover = false" ng-mouseenter="hover = true" ng-mouseleave="hover = false" class="label little-padding pointer pull-right" ng-class="{ 'label-danger': tag.followed && hover, 'label-info': tag.followed && !hover, 'label-glyphicon-plus': !tag.followed }">
                        <span class="glyphicon" ng-class="tag.followed ? 'glyphicon-minus' : 'glyphicon-plus'"></span>
                    </span>
                    <span class="glyphicon" ng-class="tag.trendingUp ? 'glyphicon-arrow-up' : 'glyphicon-arrow-down'"></span>
                    <a ui-sref="tag({ tag: tag.name })">#{{ tag.name }}</a>
                </div>
            </div>
        </div>
    </section>
</div>
