<ion-view view-title="Timeline">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="lineItem in lineItems" type="item-text-wrap" href="#/tab/timeline/{{lineItem.timelineId}}">
                <img ng-src="{{ getAvatarURL(lineItem.avatar) }}" />

                <div class="profile-name">
                    <h2 class="inline">{{lineItem.firstName}} {{lineItem.lastName}}</h2>
                    <span class="inline subheading">{{lineItem.username}}</span>
                    <span class="inline date">&nbsp;&#183; {{lineItem.prettyPrintStatusDate}}</span>
                </div>
                <p>{{lineItem.content}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(lineItem)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
