<!--<c:if test="${ios == null || !ios}">-->
    <div id="navbar" class="navbar noRadius">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- Change ui-sref that goes to root state -->
        <a class="navbar-brand" ui-sref="tatami.home.home.timeline">
            <img title="{{ 'tatami.home.menu.logo' | translate }}" src="/assets/img/company-logo.png">
            <span translate="tatami.home.menu.title"></span>
        </a>
    <!--<c:if test="${currentPage != null && currentPage == 'home'}">-->
        <button ng-if="$state.includes('tatami.home')" type="button" class="editTatam btn btn-primary navbar-toggle navbar-edit">
            <i class="close glyphicon glyphicon-pencil"></i>
        </button>
    <!--</c:if>-->
        <div class="nav-collapse navbar-responsive-collapse collapse">
            <ul class="nav">
                <li>
                    <!--<c:if test="${currentPage != null && currentPage == 'home'}">-->
                        <a ui-sref="tatami.home.home.timeline">
                    <!--</c:if>-->
                    <!--<c:if test="${currentPage == null || currentPage != 'home'}">
                        <a href="#/">
                    </c:if>-->
                    <span>
                        <span class="glyphicon glyphicon-th-list"></span>
                        <span translate="tatami.home.timeline" class="hidden-tablet"></span>
                    </span>
                    </a>
                </li>
                <li class="dropdown pointer" dropdown>
                    <a class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
                    <span>
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <span translate="tatami.home.menu.about.title" class="hidden-tablet"></span>
                        <b class="caret"></b>
                    </span>
                    </a>
                    <ul class="dropdown-menu closed">
                        <li>
                            <a ui-sref="tatami.about.presentation">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span translate="tatami.home.menu.about.presentation"></span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="tatami.about.tos">
                                <span class="glyphicon glyphicon-briefcase"></span>
                                <span translate="tatami.home.menu.about.tos"></span>
                            </a>
                        </li>
                        <li class="dropdown-submenu">
                            <a>
                                <span class="glyphicon glyphicon-flag"></span>
                                <span translate="tatami.home.menu.about.language"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ng-click="changeLanguage('en')" translate="tatami.home.menu.about.language.en"></a>
                                </li>
                                <li>
                                    <a ng-click="changeLanguage('fr')" translate="tatami.home.menu.about.language.fr"></a>
                                </li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ui-sref="tatami.about.license">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                <span translate="tatami.home.menu.about.license"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/ippontech/tatami/issues" target="_blank">
                                <span class="glyphicon glyphicon-inbox"></span>
                                <span translate="tatami.home.menu.about.github.issues"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/ippontech/tatami" target="_blank">
                                <span class="glyphicon glyphicon-wrench"></span>
                                <span translate="tatami.home.menu.about.github.fork"></span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="http://www.ippon.fr" target="_blank">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                <span translate="tatami.home.menu.about.ippon.website"><span>
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.ippon.fr" target="_blank">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span translate="tatami.home.menu.about.ippon.blog"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/ippontech" target="_blank">
                                <span class="glyphicon glyphicon-bullhorn"></span>
                                <span translate="tatami.home.menu.about.ippon.twitter"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--<c:if test="${currentPage != null && currentPage == 'home'}">-->
            <!--<sec:authorize ifAnyGranted="ROLE_USER">-->

            <ul ng-if="$state.includes('tatami.account')" class="nav pull-right">
                <li>
                    <a id="logout" ng-click="logout()">
                        <span class="glyphicon glyphicon-off"></span>
                        <span translate="tatami.home.menu.account.logout"></span>
                    </a>
                </li>
            </ul>

            <div ng-if="$state.includes('tatami.home')">
                <ul class="nav pull-right">
                    <li class="dropdown pointer" dropdown>
                        <a class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span translate="tatami.home.menu.account.title" class="hidden-tablet"></span>
                            <b class="caret"></b>
                        </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ui-sref="tatami.account.profile">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span translate="tatami.account.profile.title"></span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="tatami.account.preferences">
                                    <span class="glyphicon glyphicon-cog"></span>
                                    <span translate="tatami.account.preferences.title"></span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="tatami.account.password">
                                    <span class="glyphicon glyphicon-lock"></span>
                                    <span translate="tatami.account.password.title"></span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a ui-sref="tatami.account.files">
                                    <span class="glyphicon glyphicon-file"></span>
                                    <span translate="tatami.account.files.title"></span>
                                </a>
                                <a ui-sref="tatami.account.users">
                                    <span class="glyphicon glyphicon-globe"></span>
                                    <span translate="tatami.account.users.title"></span>
                                </a>
                                <a ui-sref="tatami.account.groups">
                                    <span class="glyphicon glyphicon-th-large"></span>
                                    <span translate="tatami.account.groups.title"></span>
                                </a>
                                <a ui-sref="tatami.account.tags">
                                    <span class="glyphicon glyphicon-tags"></span>
                                    <span translate="tatami.account.tags.title"></span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a ui-sref="tatami.account.topPosters">
                                    <span class="glyphicon glyphicon-signal"></span>
                                    <span translate="tatami.account.topPosters.title"></span>
                                </a>
                                <a ui-sref="tatami.home.home.company">
                                    <span class="glyphicon glyphicon-briefcase"></span>
                                    <span translate="tatami.home.menu.account.companyTimeline"></span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a ng-click="logout()">
                                    <span class="glyphicon glyphicon-off"></span>
                                    <span translate="tatami.home.menu.account.logout"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="hidden-phone">
                        <button popover-placement="bottom" popover="Post Button" popover-trigger="mouseenter" class="btn btn-primary navbar-form" ui-sref="tatami.home.home.timeline.post">
                            <i class="glyphicon glyphicon-pencil"></i>
                            <span translate="tatami.home.post.button" class="visible-desktop"></span>
                        </button>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li>
                        <a popover-placement="bottom" popover="On the Bottom!" id="help-tour">
                            <span>
                                <span class="glyphicon glyphicon-question-sign"></span>
                                <span translate="tatami.home.menu.help" class="hidden-tablet"></span>
                            </span>
                        </a>
                    </li>
                </ul>
                <form id="searchform" class="navbar-form pull-right col-span-4" action="">
                    <input name="search" ng-model="asyncSelected" typeahead="val.name for val in getResults($viewValue)" typeahead-on-select="goToPage($item, $model, $label)" typeahead-template-url="/app/shared/topMenu/SearchView.html" type="text" class="col-span-12" autocomplete="off" placeholder="{{ 'tatami.home.menu.search' | translate }}">

                    <!-- Clear search field when clicking the x icon ? -->
                    <!-- Probably should just remove it -->
                    <span class="deleteicon" style="display: none;">
                        <i class="glyphicon glyphicon-remove-sign"></i>
                    </span>
                </form>
            </div>
        <!--</sec:authorize>-->
        <!--</c:if>-->
        </div>
    </div>
<!--</c:if>-->