<div id="accountContent" class="alert alert-status">
    <div id="content-container"><div>
        <div id="region1"><div>
            <h2>Files</h2>
            <span class="file-infos"></span>
        </div></div>
        <div id="region2"><div>

            <div class="progress">

                <div class="progress-bar progress-bar-success" style="width: 0%;">

                    <span class="quota">0%</span>
                </div>          </div>
        </div></div>
        <div id="region3"></div>
        <div id="region4"><div>
            <table class="table noCollapse">
                <tbody><tr>
                    <th style="border-top :0">  </th>
                    <th style="border-top :0"><b>Filename</b></th>
                    <th style="border-top :0"><b>Size</b></th>
                    <th style="border-top :0"><b>Date</b></th>
                    <th style="border-top :0">  </th>
                </tr>
                </tbody><tbody class="items">
            </tbody>
            </table>

        </div></div>
        <div id="region5"></div>
    </div></div>
</div>