<div class="col-span-8">
    <div class="alert alert-status" ng-controller="FilesController">
        <div >
            <h2 translate="tatami.files.title"></h2>
            <span class="file-infos"></span>
        </div>
        <div>
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: {{quota}}%;">
                    <span class="quota">{{ quota }}%</span>
                </div>
            </div>
        </div>
        <div>
            <table class="table noCollapse">
                <tbody>
                    <tr>
                        <th style="border-top :0">  </th>
                        <th style="border-top :0"><b translate="tatami.files.filename"></b></th>
                        <th style="border-top :0"><b translate="tatami.files.size"></b></th>
                        <th style="border-top :0"><b translate="tatami.files.date"></b></th>
                        <th style="border-top :0">  </th>
                    </tr>
                </tbody>
                <tbody class="items">
                    <tr ng-repeat="file in fileList">
                        <td>
                            <a ng-href="/tatami/file/{{ file.attachmentId }}/{{ file.filename }}" target="_blank">
                                <img ng-src="{{ getImgPath(file.hasThumbnail, file.attachmentId, file.filename) }}">
                            </a>
                        </td>
                        <td>
                            <a ng-href="/tatami/file/{{ file.attachmentId }}/{{ file.filename }}" target="_blank">{{ file.filename }}</a>
                        </td>
                        <td>{{ file.size / 1000 }} kb</td>
                        <td>{{ file.prettyPrintCreationDate }}</td>
                        <td>
                            <span class="btn btn-primary btn-block" translate="tatami.files.delete" ng-click="delete(file.attachmentId, $index)"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>