<div id="mainPanel" class="container">
    <div ng-show="$stateParams.message === 'reindex'" class="alert alert-success" translate="tatami.admin.success"></div>
    <div class="row">
        <div class="col-span-12">
            <h1 translate="tatami.admin.title"></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-span-12">
            <div class="row-fluid">
                <div class="tab-content col-span-12">
                    <h2 translate="tatami.admin.registered"></h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th translate="tatami.admin.domain"></th>
                            <th translate="tatami.admin.count"></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="domain in adminData.domains">
                                <td>
                                    {{ domain.name }}
                                </td>
                                <td>
                                    {{ domain.numberOfUsers }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-span-12">
            <div class="row-fluid">
                <div class="tab-content col-span-12">
                    <h2 translate="tatami.admin.environment"></h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th translate="tatami.admin.property"></th>
                                <th translate="tatami.admin.value"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, value) in adminData.properties">
                                <td>
                                    {{ key }}
                                </td>
                                <td>
                                    {{ value }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-span-12">
            <h2 translate="tatami.admin.reindex"></h2>

            <form class="form-horizontal">
                <fieldset>
                    <div class="form-actions">
                        <button type="submit" class="input-xlarge btn btn-danger" ng-click="reindex()" translate="tatami.admin.reindex"></button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>