<div class="col-span-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title text-center" translate="tatami.login.googleApps.title"></h4>
        </div>
        <div class="panel-body">
            <form ng-submit="login()" accept-charset="utf-8">
                <fieldset>
                    <input name="openid_identifier" type="hidden" value="https://www.google.com/accounts/o8/id">
                    <div class="control-group">
                        <button type="submit" id="proceed_google" class="btn btn-primary btn-block" translate="tatami.login.googleApps.login"></button>
                    </div>
                </fieldset>
            </form>
            <div class="control-group">
                <button type="button" class="btn btn-info btn-block little-padding text-center" ui-sref="tatami.about.tos" translate="tatami.login.tos"></button>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <p translate="tatami.login.googleApps.line1"></p>
                    <a href="https://www.google.com/work/apps/business/">
                        <p translate="tatami.login.googleApps.link"></p>
                    </a>
                    <p translate="tatami.login.googleApps.line2"></p>
                    <p translate="tatami.login.googleApps.line3"></p>
                </li>
            </ul>
        </div>
    </div>
</div>