body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#topmenu {
    margin: 0px auto;
    width: 937px;
}

#global-status-search {
    padding:4px 2px 4px 2px;
    margin:3px 0px;
    background-color:#2C2C2C;
}

.statusList {
    color: #000000;
}

.statusActions {
    width: 48px;
}

.statusDate {
    width: 48px;
}

section#timeline table tbody#statusList tr.status {
    vertical-align: top;
}

.avatar {
    width: 34px;
}

.error {
    color: red;
    font-weight: bold;
}

.hide {
    display: none;
}

div#userProfileDesc {
    background-color: #F9F9F9;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 5px;
    width: 920px;
}

#menuContent {
    margin: 10px 0px 0px 0px;
}

#mainContent {
    margin: 10px 0px 0px 20px;
}

#badges {
    width: 220px;
}

.mainPanel {
    margin: 0px auto;
    border: 10px;
    position: relative;
    width: 937px;
}

#statusContent {
    width: 230px;
    height: 80px;
}

.favorite {
    background-image: url(../img/favorite.png);
    background-position: right top;
    background-repeat: no-repeat;
    padding-left: 0px;
}

#footer {
    text-align: center;
    padding-top: 5px;
    border-top: 1px dotted #cccccc;
    background-color: #ffffff;
}

#footer_ippon {
    background-image: url(../img/ippon-logo-small.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

#footer_github {
    background-image: url(../img/github.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

#footer_blog {
    background-image: url(../img/blog.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

#footer_twitter {
    background-image: url(../img/twitter.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}