body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#topmenu {
    margin: 0px auto;
    width: 937px;
}

#global-status-search {
    padding:4px 2px 4px 2px;
    margin:3px 0px;
    background-color:#2C2C2C;
}

.statusList {
    color: #333;
}

.statusDisplay {
    width: 552px;
}

.statusDisplay div.row-fluid .span8 {
    min-height: 0px;
}

.statusDisplay div.row-fluid .span4 {
    min-height: 0px;
}

.statusDate {
    width: 48px;
    height: 48px;
}

.status td {
    padding: 2px 8px 2px 2px;
}

.status td {
    padding: 2px 8px 2px 2px;
}

.avatar {
    width: 34px;
}

.error {
    color: red;
    font-weight: bold;
}

.hide {
    display: none;
}

div#userProfileDesc {
    background-color: #F9F9F9;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 5px;
    width: 927px;
}

#menuContent {
    margin: 10px 0px 0px 0px;
    width: 260px;
}

#mainContent {
    margin: 10px 0px 0px 20px;
    width: 657px;
}

.mainPanel {
    margin: 0px auto;
    position: relative;
    width: 937px;
}

#statusContent {
    width: 220px;
    height: 80px;
}

.userStatus {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 110%;
}
.userStatus:hover {
    text-decoration: none;
    color: #08C;
}

.userStatus em {
    font-size: 90%;
    color: #808080;
    font-weight: normal;
}

.favorite {
    background-image: url(../img/favorite.png);
    background-position: right top;
    background-repeat: no-repeat;
    padding-left: 0px;
}

#footer {
    text-align: center;
    padding-top: 5px;
    border-top: 1px dotted #cccccc;
    background-color: #ffffff;
}

#footer_ippon {
    background-image: url(../img/ippon-logo-small.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

#footer_github {
    background-image: url(../img/github.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

#footer_blog {
    background-image: url(../img/blog.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

#footer_twitter {
    background-image: url(../img/twitter.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}