#tweetsList {
  color:#000000;
}
#friendTweetsList {
  color:#000000;
}
.tweetFriend {
    width: 24;
}
.tweetDate {
    width: 68;
}


section#timeline table tbody#tweetsList tr.alignVerticalContentOfAHtmlTweetLine{
    vertical-align: top;
}

section#timeline table tbody#tweetsList tr.alignVerticalContentOfAHtmlTweetLine td.avatar{
    width:34px;
}