
<nav id="navbar" class="navbar navbar-default">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" ui-sref="timeline">
                <span>
                    <img title="{{ 'global.topMenu.title' | translate }}" src="/assets/images/company-logo.png">
                </span>
                <span translate="global.topMenu.title"></span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse"> <!--ng-switch="isAuthenticated()"-->
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a ui-sref="timeline">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span translate="global.timeline" class="hidden-tablet"></span>
                        </span>
                    </a>
                </li>

                <li class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                <span>
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <span translate="global.topMenu.about.title" class="hidden-tablet"></span>
                    <b class="caret"></b>
                </span>
                    </a>
                    <ul class="dropdown-menu closed">
                        <li ui-sref-active="active">
                            <a ui-sref="presentation" data-toggle="collapse" data-target=".navbar-collapse.in">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span translate="global.topMenu.about.presentation"></span>
                                &#xA0;
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="tos" data-toggle="collapse" data-target=".navbar-collapse.in">
                                <span class="glyphicon glyphicon-briefcase"></span>
                                <span translate="global.topMenu.about.tos"></span>
                                 &#xA0;
                            </a>
                        </li>
                        <li ui-sref-active="active" class="dropdown-submenu pointer" ng-controller="LanguageController">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span class="glyphicon glyphicon-flag"></span>
                                <span class="hidden-sm" translate="global.menu.language">Language</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li active-menu="{{language}}" ng-repeat="language in languages">
                                    <a href="" ng-click="changeLanguage(language)" data-toggle="collapse" data-target=".navbar-collapse.in">{{language | findLanguageFromKey}}</a>
                                </li>
                            </ul>
                        </li>

                        <!--
                        <li class="dropdown-submenu" ui-sref-active="active">
                            <a>
                                <span class="glyphicon glyphicon-flag"></span>
                                <span translate="global.topMenu.about.language"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ng-click="changeLanguage('en')" translate="global.topMenu.about.language.en"></a>
                                </li>
                                <li>
                                    <a ng-click="changeLanguage('fr')" translate="global.topMenu.about.language.fr"></a>
                                </li>
                            </ul>
                        </li>
                        !-->


                        <li class="divider"></li>

                        <li ui-sref-active="active">
                            <a ui-sref="license" data-toggle="collapse" data-target=".navbar-collapse.in">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                <span translate="global.topMenu.about.license"></span>
                                &#xA0;
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a data-toggle="collapse" data-target=".navbar-collapse.in" href="https://github.com/ippontech/tatami/issues">
                                <span class="glyphicon glyphicon-inbox"></span>
                                <span translate="global.topMenu.about.github.issues"></span>
                                &#xA0;
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a data-toggle="collapse" data-target=".navbar-collapse.in" href="https://github.com/ippontech/tatami">
                                <span class="glyphicon glyphicon-wrench"></span>
                                <span translate="global.topMenu.about.github.fork"></span>
                                &#xA0;
                            </a>
                        </li>

                        <li class="divider"></li>


                        <li ui-sref-active="active">
                            <a data-toggle="collapse" data-target=".navbar-collapse.in" href="http://www.ippon.fr/">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                <span translate="global.topMenu.about.ippon.website"></span>
                                &#xA0;
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a data-toggle="collapse" data-target=".navbar-collapse.in" href="http://www.ipponusa.com/blog/">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span translate="global.topMenu.about.ippon.blog"></span>
                                &#xA0;
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a data-toggle="collapse" data-target=".navbar-collapse.in" href="https://twitter.com/ippontech">
                                <span class="glyphicon glyphicon-bullhorn"></span>
                                <span translate="global.topMenu.about.ippon.twitter"></span>
                                &#xA0;
                            </a>
                        </li>


                    </ul>
                </li>

            </ul>
            <ul ng-if="$state.includes('account')" class="nav navbar-nav navbar-right">
                <li>
                    <a id="logout" ng-click="logout()">
                        <span class="glyphicon glyphicon-off"></span>
                        <span translate="global.topMenu.account.logout"></span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="$state.includes('sidebarHome') || $state.includes('admin')">

                <li tour-step
                    tour-step-order="0"
                    tour-step-title="Help"
                    tour-step-content="{{ 'global.welcome.help.line1' | translate }}
                    <br>
                    <p>{{ 'global.welcome.help.line2' | translate }}</p>
                    <br>"
                    tour-step-placement="bottom"
                    tour-step-append-to-body="true"
                    ng-click="tour.start()">
                    <a id="help-tour">
                        <span>
                            <span class="glyphicon glyphicon-question-sign"></span>
                            <span translate="global.topMenu.help" class="hidden-tablet"></span>
                        </span>
                    </a>
                </li>
                <li class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                    <span>
                        <span class="glyphicon glyphicon-user"></span>
                        <span translate="global.topMenu.account.title" class="hidden-tablet"></span>
                        <b class="caret"></b>
                    </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="account.profile">
                                <span class="glyphicon glyphicon-user"></span>
                                <span translate="global.account.profile.title"></span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="account.preferences">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span translate="global.account.preferences.title"></span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="account.password">
                                <span class="glyphicon glyphicon-lock"></span>
                                <span translate="global.account.password.title"></span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ui-sref="account.files">
                                <span class="glyphicon glyphicon-file"></span>
                                <span translate="global.account.files.title"></span>
                            </a>
                            <a ui-sref="following">
                                <span class="glyphicon glyphicon-globe"></span>
                                <span translate="global.account.users.title"></span>
                            </a>
                            <a ui-sref="mine">
                                <span class="glyphicon glyphicon-th-large"></span>
                                <span translate="global.account.groups.title"></span>
                            </a>
                            <a ui-sref="tagsFollowing">
                                <span class="glyphicon glyphicon-tags"></span>
                                <span translate="global.account.tags.title"></span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ui-sref="account.topPosters">
                                <span class="glyphicon glyphicon-signal"></span>
                                <span translate="global.account.topPosters.title"></span>
                            </a>
                            <a ui-sref="company">
                                <span class="glyphicon glyphicon-briefcase"></span>
                                <span translate="global.topMenu.account.companyTimeline"></span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ng-click="logout()">
                                <span class="glyphicon glyphicon-off"></span>
                                <span translate="global.topMenu.account.logout"></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-if="$state.isAdmin" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                    <span>
                        <span class="glyphicon glyphicon-tower"></span>
                        <span translate="global.menu.admin.main" class="hidden-tablet"></span>
                        <b class="caret"></b>
                    </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="user-management">
                                <span class="glyphicon glyphicon-user"></span>
                                <span translate="global.menu.admin.user-management">User management</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="metrics">
                                <span class="glyphicon glyphicon-dashboard"></span>
                                <span translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="health">
                                <span class="glyphicon glyphicon-heart"></span>
                                <span translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="configuration">
                                <span class="glyphicon glyphicon-list-alt"></span>
                                <span translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="audits">
                                <span class="glyphicon glyphicon-bell"></span>
                                <span translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="logs">
                                <span class="glyphicon glyphicon-tasks"></span>
                                <span translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="docs">
                                <span class="glyphicon glyphicon-book"></span>
                                <span translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <button
                            tour-step
                            tour-step-order="2"
                            tour-step-title="{{ 'global.welcome.post.title' | translate }}"
                            tour-step-content="
                            {{ 'global.welcome.post.line1' | translate }}
                            <ul>
                                <li>{{ 'global.welcome.post.bulletPoint1' | translate }}</li>
                                <li>{{ 'global.welcome.post.bulletPoint2' | translate }}</li>
                                <li>{{ 'global.welcome.post.bulletPoint3' | translate }}</li>
                            </ul>
                            <br>"
                            tour-step-placement="left-top"
                            class="btn btn-primary navbar-btn"
                            ng-click="openPostModal()">
                        <i class="glyphicon glyphicon-pencil"></i>
                        <span translate="global.post.button"></span>
                    </button>
                </li> <!-- Post Button -->
            </ul>
            <form class="navbar-form navbar-right" role="search" ng-if="$state.includes('sidebarHome')">
                <div class="col-span-6">
                    <input name="searchBar"
                           ng-model="search.term"
                           ng-change="search()"
                           typeahead-focus-first="false"
                           uib-typeahead="state for state in allSearch | filter:$viewValue | limitTo:10"
                           typeahead-on-select="goToPage($item)"
                           typeahead-template-url="/scripts/components/navbar/SearchView.html"
                           type="text"
                           autocomplete="off" placeholder="{{ 'global.topMenu.search' | translate }}"
                           typeahead-min-length="1"
                           class="form-control">
                </div>
            </form>

        </div>
    </div>
</nav>




