<form class="form-horizontal row-fluid">
    <h2>
        Group
    </h2>

    <button class="show btn btn-xlarge btn-block btn-primary" type="button">
        Create a new group
    </button>

    <fieldset class="hide" style="display: block;">
        <legend>

            Create a new group

        </legend>
        <div class="control-group">
            <label class="control-label" for="name">
                Name of the group
            </label>

            <div class="controls">
                <input name="name" type="text" required="required" size="30" maxlength="50" class="input-xlarge col-span-12" value="">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="description">
                Description
            </label>

            <div class="controls">
                <textarea name="description" class="input-xlarge col-span-12"></textarea>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label" for="publicGroup">
                Access
            </label>

            <div class="controls">
                <label class="radio">
                    <input type="radio" name="publicGroup" value="public" checked="" required="">
                    Public
                </label>
                <label class="radio">
                    <input type="radio" name="publicGroup" value="private" required="">
                    Private
                </label>
            </div>
        </div>

        <div class="alertColor">
            <i class="glyphicon glyphicon-warning-sign"></i>
            Warning! If this group is public, everybody can access it
        </div>


        <br>
        <div class="return"></div>
        <br>
        <div class="form-actions">

            <button type="submit" class="btn btn-success col-span-7 little-marge-right">
                Save
            </button>
            <button type="reset" class="btn btn-danger col-span-4">
                Cancel
            </button>

        </div>

    </fieldset>



</form>