<div class="col-span-8">
    <div class="alert alert-status">
        <div>HI</div>
        <div>
            <form class="form-horizontal row-fluid">
                <h2>
                    Group
                </h2>
                <fieldset>
                    <legend>
                        Update group details
                    </legend>
                    <div class="control-group">
                        <label class="control-label" for="name">
                            Name of the group
                        </label>
                        <div class="controls">
                            <input name="name" type="text" required="required" size="30" maxlength="50" class="input-xlarge col-span-12" value="Apple">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="description">
                            Description
                        </label>

                        <div class="controls">
                            <textarea name="description" class="input-xlarge col-span-12">oranges</textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="archivedGroup">
                            Do you want to archive this group?
                        </label>
                        <div class="controls">
                            <label class="radio">
                                <input type="radio" name="archivedGroup" value="true" required="">
                                Yes, this group should be archived
                            </label>
                            <label class="radio">
                                <input type="radio" name="archivedGroup" value="false" checked="" required="">
                                No, this group is still in use
                            </label>
                        </div>
                    </div>
                    <div class="alert">
                        <i class="icon-warning-sign"></i>
                        Archived groups are read-only
                    </div>
                    <br>
                    <div class="return"></div>
                    <br>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success col-span-12">
                            Save
                        </button>
                    </div>
                </fieldset>
            </form>
            <form class="form-horizontal row-fluid">
                <fieldset>
                    <legend>
                        Add a member
                    </legend>
                    <div class="control-group">
                        <label class="control-label" for="username">
                            User name
                        </label>
                        <div class="controls">
                            <input name="username" type="text" autocomplete="off" required="required" class="input-xlarge col-span-12">
                        </div>
                    </div>
                    <br>
                    <div class="return"></div>
                    <br>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success col-span-12">
                            Save
                        </button>
                    </div>
                </fieldset>
            </form>
            <div class="useritem">
                <table class="table noCollapse">
                    <tbody><tr>
                        <th style="border-top :0">User name</th>
                        <th style="border-top :0">Role</th>
                        <th style="border-top :0"></th>
                    </tr>
                    </tbody><tbody class="items">
                <tr>
                    <td style="text-align: left">
                        <div class="pull-left background-image-fffix little-marge-right">

                            <img class="img-rounded img-medium" style="background-image: url(/img/default_image_profile.png);">
                        </div>
                        <h4>

                            <a href="/tatami/home/#/users/hegelandka">
                                <strong>
                                    Kenneth Hegeland
                                </strong>
                            </a>
                            <br>
                            <a href="/tatami/home/#/users/hegelandka">
                                <small>
                                    @hegelandka
                                </small>
                            </a>
                        </h4>
                    </td>
                    <td>
                        Administrator
                    </td>
                    <td>
                    </td>
                </tr></tbody>
                </table>
            </div>
        </div>
    </div>
</div>