<ion-view view-title="{{ 'more.settings' | translate }}">
    <ion-content ng-style="{'background-color':'#f5f5f5'}">
        <ion-list>
            <ion-item class="item-divider" translate="more.language.change"></ion-item>
            <ion-radio ng-repeat="language in vm.languages"
                       ng-model="vm.language"
                       ng-value="language.langKey">
                {{ language.translateKey | translate }}
            </ion-radio>
        </ion-list>
    </ion-content>
</ion-view>
