<section id="followline">
    <div>
        <i class="icon-zoom-in icon-white"></i> <strong>Follow another user...</strong>

        <form class="form-search" onsubmit="return followUser(($('#followUserInput').val()))">
            <input id="followUserInput" type="text" class="input-large search-query"
                   placeholder="Type the login to follow..." required="required"/>
            <button type="submit" class="btn btn-primary">Follow</button>
        </form>
        <div class="alert" id="followStatus" hidden="hidden"></div>
    </div>

    <div>
        <i class="icon-random icon-white"></i> <strong>Who to follow</strong>
        <table class="table table-striped">
            <tbody id="suggestions"></tbody>
	    </table>
    </div>
</section>
