<form id="updateUserForm" onsubmit="return updateProfile();">
    <label>Email :</label> <input id="emailInput" name="email" type="email"
                                  placeholder="Enter e-mail..."/>
    <fieldset>
        <label>First name :</label> <input id="firstNameInput" name="firstName" type="text"
                                           placeholder="Enter first name..."/>
        <label>Last name :</label> <input id="lastNameInput" name="lastName" type="text"
                                          placeholder="Enter last name..."/>
    </fieldset>

    <input type="submit" class="btn btn-primary" />
</form>
<hr />
<form class="form-inline">
	<input id="friendInput" type="text"
		   placeholder="Type a friend login..."/>
	<button onclick="addFriend()" type="button" class="btn btn-primary">Follow</button>
</form>
