<section id="timeline">
	<header>
		<div class="alert" id="refreshStatus" hidden="hidden"></div>
	</header>
	<table class="table table-striped">
		<thead>
			<tr>
				<th colspan="3"><h2>Tweets list</h2></th>
				<th>
					<a href="#" onclick="listTweets(true)" title="Refresh"><i class="icon-repeat icon-white"></i></a>
				</th>
			</tr>
		</thead>
		<tbody id="tweetsList"></tbody>
		<tfooter>
			<tr>
				<td colspan="4"><i class="icon-download"></i> <em>Scroll down to get more tweets.</em></td>
			</tr>
		</tfooter>
	</table>
</section>
