<section>
	<table class="table table-striped" width="100%">
		<thead>
			<tr>
				<th colspan="2"><h2>Tweets list</h2></th>
				<th colspan="2" align="right">
					<span  id="refreshStatus"></span>
					<a href="javascript:listTweets()" title="Refresh"><i class="icon-repeat icon-white"></i></a>
				</th>
			</tr>
		</thead>
		<tbody id="tweetsList"></tbody>
	</table>
	<footer>
		<div class="pagination">
			<ul>
				<li class="disabled"><a href="#">Prev.</a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">Next</a></li>
			</ul>
		</div>
	</footer>
</section>
