<div>
    <ul class="homebody-nav nav nav-justified">
        <li ui-sref-active="active">
            <a ui-sref="tag">
            <i class="glyphicon glyphicon-tag"></i>
            <span translate="home.tag.title"></span>
            </a>
        </li>
    </ul>
    <section class="tatams-content tatams-margin">
        <div class="tatams-content-title">
            <h3>
                <strong ng-if="currentState == 'tag'">#{{ tag.name }}</strong>
                <button type="button" ng-click="followUnfollowTag()" ng-init="hover = false" ng-mouseenter="hover = true" ng-mouseleave="hover = false" class="btn btn-sm toggleTag pull-right" ng-class="{ 'btn-danger': tag.followed && hover, 'btn-info': tag.followed && !hover }">
                    <span class="glyphicon" ng-class="tag.followed ? 'glyphicon-minus' : 'glyphicon-plus'"></span>
                        <span ng-if="!tag.followed" class="hidden-phone" translate="home.tag.follow"></span>
                        <span ng-if="tag.followed && !hover" class="hidden-phone" translate="home.tag.following"></span>
                        <span ng-if="tag.followed && hover" class="hidden-phone" translate="home.tag.unfollow"></span>
                </button>
            </h3>
        </div>
    </section>
</div>
